<main class="main-wrapper">
  <h2 class="heading2">Regular Nav</h2>
  <nav class="regular-nav">
    <ul class="nav-list">
      <li>
        <span aria-current="page">
          <span class="ja">ホーム</span>
          <span class="en">home</span>
        </span>
      </li>
      <li>
        <a href="/" class="nav-link">
          <span class="ja">ブログ</span>
          <span class="en">blog</span>
        </a>
      </li>
      <li>
        <a href="/" class="nav-link">
          <span class="ja">運営者</span>
          <span class="en">about</span>
        </a>
      </li>
      <li>
        <a href="/" class="nav-link">
          <span class="ja">問い合わせ</span>
          <span class="en">contact</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="divider" role="separator"></div>
  <h2 class="heading2">Breadcrumb Nav</h2>
  <nav class="breadcrumb-container">
    <ul class="breadcrumb-list">
      <li>
        <a href="/" class="isActive breadcrumb-link">ホーム</a>
      </li>
      <li>
        <a href="/" class="isActive breadcrumb-link">ブログ</a>
      </li>
      <li>
        <span class="breadcrumb-current">記事タイトル</span>
      </li>
    </ul>
  </nav>
</main>