.button {
  position: relative;
  display: inline-block;
  width: 12.5rem;
  height: 4rem;
  margin: 1.5rem 1rem 0;
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--black);
  transition: all .3s;
  &:hover,
  &:focus {
    color: var(--white);
    background-color: hsla(0, 0%, 47%, 1);
    transition: all .3s;
  }
}

.depth-effect {
  position: relative;
  top: 0;
  border: transparent;
  perspective: 19rem;
  & > .after,
  & > .before {
    position: absolute;
    top: 0;
    display: block;
    width: 12.5rem;
    height: 4rem;
    color: hsla(29, 98%, 35%, 1);
    line-height: 3.5rem;
    text-align: center;
    background-color: hsla(49, 85%, 70%, 1);
    border: 2px solid hsla(135, 80%, 14%, 1);
    transform: rotateX(90deg);
    transform-origin: 50% 50% -2rem;
    transition: all .3s;
  }
  & > .before {
    color: hsla(135, 80%, 14%, 1);
    background-color: hsla(130, 59%, 74%, 1);
    transform: rotateX(0deg);
    transform-origin: 50% 50% -2rem;
  }
  /* hover 3D effect */
  &:hover,
  &:focus {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
  }
  &:hover > .after,
  &:focus > .after {
    z-index: 3;
    border: 2px solid hsla(29, 98%, 35%, 1);
    transform: rotateX(0deg);
  }
  &:hover > .before,
  &:focus > .before {
    transform: rotateX(-90deg);
  }
}

.double-door-effect {
  z-index: 2;
  color: var(--white);
  border: 2px solid hsla(207, 96%, 33%, 1);
  &:before,
  &:after {
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: 12rem;
    height: calc(4rem - 4px);
    background-color: hsla(204, 78%, 55%, 1);
    transition: all .5s;
    content: "";
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  /* double-door hover effect  */
  &:hover,
  &:focus {
    color: hsla(207, 96%, 33%, 1);
    background-color: var(--white);
    border-color: hsla(207, 96%, 33%, 1);
    &:before,
    &:after {
      width: 0;
      background-color: hsla(204, 78%, 64%, 1);
      transition: all .3s;
    }
  }
}
