@use "../../base/setting";

.switch-wrapper {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.switch-state-off {
  margin-right: 1rem;
}
.switch-state-on {
  margin-left: 1rem;
}
.switch-container {
  position: relative;
  width: 7rem;
  height: 3.2rem;
  border: none;
}
.switch {
  z-index: 1;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: .5rem;
  border: 2px solid hsla(0, 0%, 100%, 1);
  background-color: hsla(180, 1%, 33%, 1);
  transform: translateX(0);
  border-radius: 50%;
  box-shadow: .12rem .08rem .07rem .07rem hsla(0, 12%, 30%, .2);
  transition:
    transform .25s cubic-bezier(.55, .085, .68, .53),
    background-color .5s cubic-bezier(.645, .045, .355, 1);
  cursor: pointer;
  appearance: none;
  &[aria-checked="true"] {
    background-color: hsla(173, 58%, 49%, 1);
    transform: translateX(3.2rem);
    transition:
      transform .25s cubic-bezier(.55, .085, .68, .53),
      background-color .5s cubic-bezier(.645, .045, .355, 1);
  }
}
.switch-rail {
  position: absolute;
  top: 44%;
  left: 0;
  z-index: 0;
  width: 7rem;
  height: 3.2rem;
  border: 1px solid hsla(0, 0%, 40%, 1);
  background-color: hsla(0, 0%, 62%, 1);
  transform: translateY(-50%);
  border-radius: 35px;
  cursor: pointer;
}
[data-whatinput="keyboard"] .switch:focus + label:after {
  border-color: hsla(240, 100%, 30%, 1);
  box-shadow: 0 0 4px hsla(240, 100%, 30%, 1);
}
.switch-target {
  display: flex;
  align-items: center;
  height: 50vh;
  padding: 2rem;
  background-color: var(--white);
  &.light-theme {
    background: hsla(0, 0%, 100%, 1);
    color: hsla(0, 0%, 20%, 1);
    transition:
      all .35s cubic-bezier(.55, .085, .68, .53),
      color .4s cubic-bezier(.55, .085, .68, .53);
  }
  &.dark-theme {
    background: hsla(0, 0%, 20%, 1);
    color: hsla(0, 0%, 93%, 1);
    transition: all .38s, color .48s;
  }
}