
/* styling */
.header {
  position: relative;
  padding-top: 4rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--black);
}

.global-nav {
  height: 6rem;
  width: 100%;
  margin-top: 5.5rem;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-left: 1px solid var(--black);
  background-color: #eee;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 80rem;
  margin: 3rem auto;
}

@media all and (-ms-high-contrast:none) {

  *::-ms-backdrop,
  .container {
    max-width: none;
  }

}

.main {
  min-width: 80%;
}

.section-wrap {
  display: flex;
  flex-direction: column;
  width: auto;
}

.section {
  width: auto;
  list-style-type: none;
  font-size: 1rem;
  margin-left: 2rem;
  margin-bottom: 10rem;
  padding: 6rem 50px;
  border: 1px solid black;
}

.section:focus {
  outline: none;
}


.section__heading {
  margin-bottom: 4rem;
}

.aside {
  min-width: 20%;
}

.side-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  border: 1px solid var(--black);
  background: #ddd;
}

.toc {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem 2rem;
  border: 1px solid var(--black);
  background: #b5e9f7;
  text-align: center;
  line-height: 3;
}

.toc__link.is-current,
.toc__link:hover,
.toc__link:focus {
  font-weight: bold;
  text-decoration: none;
}

.footer {
  position: relative;
  height: 500px;
  padding-top: 10rem;
  border: 1px solid var(--black);
  text-align: center;
  font-size: 3rem;
}

.back-to-top {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3rem;
  right: 8%;
  width: 6rem;
  height: 3rem;
  padding-top: .5rem;
  background-color: #ccc;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5rem 5rem 0 0;
}