.selectbox-container {
  position: relative;
  width: 65%;
  box-sizing: border-box;
}

@media print, screen and (min-width: 64em) {
  .selectbox-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2.5rem;
  }
}

@media print, screen and (max-width: 63.9375em) {
  .selectbox-container {
    margin-top: 1.7rem;
  }
}

.selectbox-container:after {
  content: "";
  display: block;
  display: inline;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px #333 solid;
  border-right: 6px transparent solid;
  border-bottom: 0 transparent solid;
  border-left: 6px transparent solid;
  border-style: solid;
  transition: border-color cubic-bezier(.215, .61, .355, 1) .15s, -webkit-transform cubic-bezier(.215, .61, .355, 1) .15s;
  transition: transform cubic-bezier(.215, .61, .355, 1) .15s, border-color cubic-bezier(.215, .61, .355, 1) .15s;
  transition: transform cubic-bezier(.215, .61, .355, 1) .15s, border-color cubic-bezier(.215, .61, .355, 1) .15s, -webkit-transform cubic-bezier(.215, .61, .355, 1) .15s;
}

@media print, screen and (min-width: 64em) {
  .selectbox-container:after {
    right: 20px;
    bottom: 19.5px;
  }
}

@media print, screen and (max-width: 63.9375em) {
  .selectbox-container:after {
    right: 13px;
    bottom: 17px;
  }
}

.selectbox-label {
  width: 25%;
}

@media print, screen and (min-width: 64em) {
  .selectbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: calc(var(--font-size-m2));
  }
}

@media print, screen and (max-width: 63.9375em) {
  .selectbox-label {
    display: block;
    width: 100%;
    margin-bottom: .7rem;
  }
}

.selectbox {
  display: inline-block;
  position: relative;
  margin: auto 1px auto -1px;
  border: 1px solid #333;
  background: #f4efed;
  line-height: 1.2;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .15);
}

@media print, screen and (min-width: 64em) {
  .selectbox {
    width: 75%;
    height: 51px;
    padding: .65rem 1rem;
    font-size: calc(var(--font-size-m2));
  }
  .selectbox:focus {
    padding: calc(.65rem - 1px) calc(1rem - 1px);
  }
}

@media print, screen and (max-width: 63.9375em) {
  .selectbox {
    width: 100%;
    height: 47.34px;
    padding: .65rem 1.5rem .5rem .8rem;
    font-size: calc(var(--font-size-m1) - .1rem);
  }
  .selectbox:focus {
    padding: calc(.65rem - 1px) calc(1.5rem - 1px) calc(.5rem - 1px) calc(.8rem - 1px);
  }
}

.selectbox:focus {
  border-width: 2px;
}