@charset "UTF-8";

/* CSS variables */
:root {
  --black: hsla(0, 0%, 20%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --border-color: hsla(0, 0%, 40%, 1);
  --focusring-color: hsla(217, 99%, 71%, 1);
}

/* reset-normalize */
body {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 100%;
  color: var(--black);
}

body * {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

/**
 * ----------
 * web accessibility
 * -----
 * what-input.jsによりdata属性付与
 * マウス/タッチイベント時のフォーカスリングスタイル打消
 * キーボードフォーカス時のみフォーカススタイル有効
 */
[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

/**
  * すべてのインタラクティブ・コンテンツ(要素)に対し、
  * focus-ringに独自カスタム疑似スタイルを定義
  */
[data-whatinput="keyboard"] a,
[data-whatinput="keyboard"] audio,
[data-whatinput="keyboard"] button,
[data-whatinput="keyboard"] details,
[data-whatinput="keyboard"] embed,
[data-whatinput="keyboard"] iframe,
[data-whatinput="keyboard"] img[usemap],
[data-whatinput="keyboard"] input:not([hidden]),
[data-whatinput="keyboard"] keygen,
[data-whatinput="keyboard"] label,
[data-whatinput="keyboard"] object[usemap],
[data-whatinput="keyboard"] select,
[data-whatinput="keyboard"] textarea,
[data-whatinput="keyboard"] video {
  outline: none;
  outline-offset: .0625rem;
  transition: outline .15s cubic-bezier(0.47, 0, 0.745, 0.715);
}

[data-whatinput="keyboard"] a:focus,
[data-whatinput="keyboard"] audio:focus,
[data-whatinput="keyboard"] button:focus,
[data-whatinput="keyboard"] details:focus,
[data-whatinput="keyboard"] embed:focus,
[data-whatinput="keyboard"] iframe:focus,
[data-whatinput="keyboard"] img[usemap]:focus,
[data-whatinput="keyboard"] input:not([hidden]):focus,
[data-whatinput="keyboard"] keygen:focus,
[data-whatinput="keyboard"] label:focus,
[data-whatinput="keyboard"] object[usemap]:focus,
[data-whatinput="keyboard"] select:focus,
[data-whatinput="keyboard"] textarea:focus,
[data-whatinput="keyboard"] video:focus {
  outline: .125rem solid var(--focusring-color);
  outline-offset: .0625rem;
}

/* styling */
/* カルーセルパネル(スライドパネル)UI コンテナー/container */
.carousel {
  width: 800px;
  margin: 2rem auto auto;
}

/* フレーム */
.carousel__main {
  position: relative;
  margin-bottom: 15px;
  padding: 33.3%;
}

/* 各パネルの中身 = コンテンツ (divかaを想定) */
.carousel__content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.carousel__content[aria-hidden=false] {
  opacity: 1;
  transition: opacity 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  z-index: 1;
}
.carousel__content[aria-hidden=false]:hover {
  opacity: 0.7;
  transition: opacity 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.carousel__content[aria-hidden=true] {
  transition: opacity 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* コンテンツ画像 */
.carousel__img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

/* カルーセル アニメーション */
/* .carousel__img {
  transform: scale(1.093);
}

.carousel__img {
  animation: carouselImgMotion 8s linear 0s 1 normal;
  transform: translate3d(0, 0, 0) scale(1.01);
}

  100% {
    transform: translate3d(0, 0, 0) scale(1.01);
  }
}

@keyframes carouselImgMotion {
  0% {
    transform: scale(1.093);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1.01);
  }
}
*/
/*
 * UIコントローラー群 - 前へナビ、次へナビ、再生ボタン、停止ボタン
 * 拡張性担保のため、classセレクタ名は一意にしている
 */
.carousel__control-pause, .carousel__control-play, .carousel__control-next, .carousel__control-prev {
  position: absolute;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.carousel__control-next, .carousel__control-prev {
  top: 50%;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  transition: all ease-out 0.2s;
}
.carousel__control-next:before, .carousel__control-prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: #999;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.carousel__control-next:hover, .carousel__control-prev:hover {
  opacity: 0.5;
  transition: all ease-out 0.2s;
}

.carousel__control-pause, .carousel__control-play {
  right: 9px;
  bottom: 7px;
  width: 40px;
  height: 30px;
  z-index: 2;
  border-radius: 2px;
  border: 1px solid #acacac;
}
[aria-hidden=true].carousel__control-pause, [aria-hidden=true].carousel__control-play {
  visibility: hidden;
  z-index: 0;
}
[aria-hidden=false].carousel__control-pause, [aria-hidden=false].carousel__control-play {
  visibility: visible;
}
.carousel__control-pause:hover, .carousel__control-play:hover {
  background-color: #777;
}

/* 前へナビ */
.carousel__control-prev {
  left: -27px;
}
.carousel__control-prev:before {
  transform: translate(0, -50%) rotate(135deg);
}
.carousel__control-prev:hover {
  left: -32px;
}

/* 次へナビ */
.carousel__control-next {
  right: -38px;
}
.carousel__control-next:before {
  transform: translate(0, -50%) rotate(-45deg);
}
.carousel__control-next:hover {
  right: -43px;
}

/* 再生ボタン */
.carousel__control-play {
  background: #999 url("../img/img_play.png") 56.9% center no-repeat;
}

/* 停止ボタン */
.carousel__control-pause {
  background: #999 url("../img/img_pause.png") 50% center no-repeat;
}

/* インジケーター・サムネイル コンテナー(リスト) */
.carousel__thumbnail-list {
  display: grid;
  grid-template-columns: repeat(5, 65px);
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* インジケーター・サムネイル アイテム */
.carousel__thumbnail-item {
  width: 65px;
  height: auto;
}
.carousel__thumbnail-item[aria-selected=true] {
  opacity: 1;
}
.carousel__thumbnail-item[aria-selected=false] {
  opacity: 0.35;
}
.carousel__thumbnail-item:hover {
  opacity: 1;
}

/* サムネイル画像(img) */
.carousel__thumbnail-img {
  width: 100%;
  vertical-align: bottom;
}

/* styling */
.modal-dialog {
  width: 100%;
  max-width: 64.25rem;
  margin: 2rem auto;
}

.modal-dialog:focus,
.dialog-panel:focus {
  outline: none;
}

.dialog-open {
  display: block;
  width: 300px;
  margin: 4rem auto;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: center;
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */
}

.dialog-open:hover,
.dialog-open:focus,
.dialog__button:hover,
.dialog__button:focus {
  background-color: #777;
  color: var(--white);
  /* fade-in effect */
  /* transition: background-color .25s ease, color .25s ease; */
}

.dialog-panel {
  position: absolute;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  border: 2px solid var(--border-color);
  background: var(--white);
  border-radius: 5px;
}

_::-webkit-full-page-media,
_:future,
:root .dialog-panel {
  max-width: 365px;
  width: 100%;
  height: auto;
}

@supports (-ms-ime-align: auto) {
  .dialog-panel {
    max-width: 30%;
  }
}

.dialog-panel:not([open]) {
  display: block !important;
  visibility: hidden;
}

.dialog-panel[open] {
  animation: fade-in .25s ease-out, slide-down .25s ease-out;
}

.dialog-panel.is-motioned {
  animation: fade-out .265s ease, slide-up .265s ease;
}

/* native backdrop */
.dialog-panel::backdrop {
  background-color: rgba(0, 0, 0, .5);
}

/* polyfill backdrop */
.dialog-panel+.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  animation: fade-in .25s ease-out;
}

.dialog-panel__paragraph {
  margin: auto;
  padding: 4rem 3rem 0;
}

.dialog-panel__buttons {
  text-align: center;
  padding: 2rem 0 2.5rem;
}

.dialog__button {
  display: inline-block;
  min-width: 5rem;
  padding-top: .625rem;
  padding-bottom: .525rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

.dialog__button:not(:first-of-type) {
  margin-left: 1.75rem;
}

.dialog__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--black);
  font-size: 2rem;
  color: var(--white);
  border-radius: 50%;
}

.dialog__close:hover,
.dialog__close:focus {
  border: 1px solid #777;
  background-color: var(--white);
  font-size: 2rem;
  color: var(--black);
}

.dialog-response {
  text-align: center;
  line-height: 2;
  font-size: 1.2rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(0, -23px);
  }
}

/* styling */
.header {
  position: relative;
  padding-top: 4rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--black);
}

.global-nav {
  height: 6rem;
  width: 100%;
  margin-top: 5.5rem;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-left: 1px solid var(--black);
  background-color: #eee;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 80rem;
  margin: 3rem auto;
}

@media all and (-ms-high-contrast:none) {

  *::-ms-backdrop,
  .container {
    max-width: none;
  }

}

.main {
  min-width: 80%;
}

.section-wrap {
  display: flex;
  flex-direction: column;
  width: auto;
}

.section {
  width: auto;
  list-style-type: none;
  font-size: 1rem;
  margin-left: 2rem;
  margin-bottom: 10rem;
  padding: 6rem 50px;
  border: 1px solid black;
}

.section:focus {
  outline: none;
}


.section__heading {
  margin-bottom: 4rem;
}

.aside {
  min-width: 20%;
}

.side-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  border: 1px solid var(--black);
  background: #ddd;
}

.toc {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem 2rem;
  border: 1px solid var(--black);
  background: #b5e9f7;
  text-align: center;
  line-height: 3;
}

.toc__link.is-current,
.toc__link:hover {
  font-weight: bold;
  text-decoration: none;
}

.footer {
  position: relative;
  height: 500px;
  padding-top: 10rem;
  border: 1px solid var(--black);
  text-align: center;
  font-size: 3rem;
}

.back-to-top {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3rem;
  right: 8%;
  width: 6rem;
  height: 3rem;
  padding-top: .5rem;
  background-color: #ccc;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5rem 5rem 0 0;
}

/* styling */
.tab-ui {
  position: relative;
  width: 100%;
  margin: 2rem auto;
}

@media screen and (min-width:768px) {
  .tab-ui {
    max-width: 64.25rem;
  }
}

.tab-ui__heading {
  margin: 0 auto 1rem;
}

.tablist {
  display: flex;
  width: auto;
}

/* タブの隣接部分のborderが太くなることが許せない人向け */
/* .tablist>li:not(:first-of-type) .tab {
  margin-left: -1px;
} */

.tab {
  display: inline-block;
  padding: .65rem 1rem;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */
}

@media screen and (max-width:767px) {
  .tablist>li {
    width: 33.33333%;
  }

  .tab {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  .tab {
    min-width: 12rem;
    width: auto;
  }
}

/* 選択されているタブのスタイル */
.tab[aria-selected] {
  background: var(--black);
  color: var(--white);
}

/* タブのhover状態スタイル */
.tab:hover,
.tab:focus {
  background: #777;
  color: var(--white);
  /* fade-in effect */
  /* transition: background-color .25s ease, color .25s ease; */
}

.tabpanel-wrap {
  width: 100%;
  height: fit-content;
  min-height: 150px;
  border: 1px solid var(--border-color);
  color: var(--black);
  overflow: hidden;
}

.tabpanel {
  width: 100%;
  padding: 1rem 2rem 2.5rem;
  z-index: 0;
}

.tabpanel:focus {
  outline: none;
}

.tabpanel[aria-hidden="false"] {
  position: absolute;
  top: 9.5%;
  visibility: visible;
}

.tabpanel[aria-hidden="true"] {
  position: absolute;
  top: 9.5%;
  visibility: hidden;
}

.tabpanel__list>li:not(:first-of-type) {
  margin: .8rem auto auto;
}

.tabpanel__paragraph {
  margin: 1.4rem auto 0;
}

.tabpanel__link {
  display: inline-block;
  width: auto;
  margin: 1.4rem auto 0;
}

.other-content {
  width: 100%;
  max-width: 64.25rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 1px solid var(--black);
}

/* ----- */

.sw-tab-menu .swiper-slide {
  width: auto;
}

/* styling */
.sw-tab-ui {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  overflow: hidden;
}

@media screen and (min-width:768px) {
  .sw-tab-ui {
    max-width: 64.25rem;
  }
}

.sw-tab-container {
  border: 1px solid var(--border-color);
}

.sw-tab-ui__heading {
  margin: 0 auto 1rem;
}

.sw-tablist {
  display: flex;
  width: auto;
}

/* タブの隣接部分のborderが太くなることが許せない人向け */
/* .sw-tablist>li:not(:first-of-type) .sw-tab {
  margin-left: -1px;
} */

.sw-tab {
  display: inline-block;
  padding: .65rem 1rem;
  /* border-radius: 5px 5px 0 0; */
  text-align: center;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */
}

.sw-tablist>li {
  width: 30%
}

@media screen and (min-width:768px) {
  .sw-tab {
    min-width: 14rem;
    width: auto;
  }
}

/* 選択されているタブのスタイル */
.sw-tab[aria-selected] {
  background: var(--black);
  color: var(--white);
}

/* タブのhover状態スタイル */
.sw-tab:not([aria-selected]):hover,
.sw-tab:not([aria-selected]):focus {
  background: #777;
  color: var(--white);
  /* fade-in effect */
  /* transition: background-color .25s ease, color .25s ease; */
}

.sw-tabpanel-wrap {
  color: var(--black);
}

.sw-tabpanel {
  width: 100%;
  padding: 1rem 2rem 2.5rem;
  border-top: 1px solid var(--border-color);
  color: var(--black);
  z-index: 0;
}

.sw-tabpanel:focus {
  outline: none;
}

.sw-tabpanel__list>li:not(:first-of-type) {
  margin: .8rem auto auto;
}

.sw-tabpanel__paragraph {
  margin: 1.4rem auto 0;
}

.sw-tabpanel__link {
  display: inline-block;
  width: auto;
  margin: 1.4rem auto 0;
}



.swiper-slide-thumb-active {
  border-bottom: 2px solid rgb(9, 8, 53);
  color: rgb(9, 8, 53) !important;
  font-weight: bold;
}

.swiper-container {
  margin: 0 auto 30px;
}

.tab-contents {
  margin: 30px auto;
}


.fieldset {
  width: 65%;
}
.fieldset:not(:first-of-type) {
  margin-top: 1rem;
}

.checkbox,
.radio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.checkbox + label,
.radio + label{
  display: block;
  position: relative;
  width: auto;
  margin-top: .5rem;
  padding-left: 1.8em;
  line-height: 1.75;
  cursor: pointer;
}

.checkbox:checked + label,
.radio:checked + label {
  font-weight: bold;
  color: #000098;
}

.checkbox:hover + label,
.radio:hover + label {
  opacity: .75;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.checkbox + label:before {
  content: "";
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: .45rem;
  left: .28rem;
  width: .55rem;
  height: .34rem;
  border-top: 2.3px solid #000098;
  border-right: 2.3px solid #000098;
  z-index: 1;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
   -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.checkbox:checked + label:before,
.radio:checked + label:before {
  opacity: 1;
  -webkit-animation: scale .1s ease-in-out .2s 1 normal running;
  animation: scale .1s ease-in-out .2s 1 normal running;
}

.radio:checked + label:before {
  opacity: 1;
  -webkit-animation: scale-radio .1s ease-in-out .2s 1 normal running;
  animation: scale-radio .1s ease-in-out .2s 1 normal running;
}

.radio:checked + label > svg {
  opacity: 1;
  -webkit-animation: scale-radio .1s ease-in-out .2s 1 normal running;
  animation: scale-radio .1s ease-in-out .2s 1 normal running;
}

[data-whatinput="keyboard"] .checkbox:focus + label:after,
[data-whatinput="keyboard"] .radio:focus + label:after {
  border-color: #000098;
  box-shadow: 0 0 4px #000098;
}

.checkbox + label:after {
  content: "";
  position: absolute;
  top: .2rem;   
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #888;
  background-color: #fff;
  border-radius: 4px;
}

.checkbox:disabled,
.checkbox + label[disabled],
.radio:disabled,
.radio + label[disabled] {
  cursor: not-allowed;
  opacity: .67;
}

.radio + label > svg {
  opacity: 0;
  position: absolute;
  top: .38rem;
  left: .16rem;
  width: 15px;
  height: 15px;
  z-index: 1;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.radio + label:after {
  content: "";
  position: absolute;
  top: .19rem;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #888;
  background-color: #fff;
  border-radius: 50%;
}

svg circle {
  stroke: #000098;
  fill: #000098;
}

@media screen and (-ms-high-contrast: active) { 
  svg circle {
     stroke: #fff;
     fill: #fff;
  }
}

@-webkit-keyframes scale {
  32% { transform: scale(1.13) rotate(135deg); }
  83% { transform: scale(1) rotate(135deg); }
}

@keyframes scale {
  32% { transform: scale(1.13) rotate(135deg); }
  83% { transform: scale(1) rotate(135deg); }
}
 
@-webkit-keyframes scale-radio {
  32% { transform: scale(1.13); }
  83% { transform: scale(1); }
}

@keyframes scale-radio {
  32% { transform: scale(1.13); }
  83% { transform: scale(1); }
}