@charset "UTF-8";
/**
 * # settings.scss
 *   - mixin, variable settings
 *   - variable(上の方)とmixin(下の方)全部入りの設定CSS / config
 */
/**
 * ----------
 * variable
 * ----------
 */
/* CSS variables */
:root {
  /*
   * font-family - semantic type
   * - SASSのmixinでレスポンシブ(media query)対応している(下の方↓)
   * - デバイス別表示の接尾辞(suffix) -> Mb: Mobile, Tablet、Dt: Desktop
   */
  --logo-font: Brandon Grotesque Bold;
  --sentence-font: Brandon Text Medium, YakuHanJPs, Noto Sans JP;
  --home-section-heading-font: YakuHanJPs, Noto Serif JP;
  --english-font: Brandon Grotesque Medium;
  --english-font-print: Arial;
  --number-font: Lato;
  /*
   * font-size - declarative type
   */
  --font-size-l4: 1rem * 8 / 3;
  --font-size-l3: 1rem * 8 / 4;
  --font-size-l2: 1rem * 8 / 5;
  --font-size-l1: 1rem * 8 / 6;
  --font-size-m2: 1rem * 8 / 7;
  --font-size-m1: 1rem;
  --font-size-s1: 1rem * 8 / 9;
  --font-size-s2: 1rem * 8 / 10;
  /* color - semantic type */
  --border-color: hsla(0, 0%, 40%, 1);
  --focusring-color: hsla(217, 99%, 71%, 1);
  /* color - declarative type */
  --black: hsla(0, 0%, 20%, 1);
  --white: hsla(0, 100%, 100%, 1);
  --contrast-limit-gray: hsla(0, 0%, 47%, 1);
  /* easing - declarative type */
  /* sine */
  /* quad */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* cubic */
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  /* quart */
  /* quint */
  /* expo */
  /* circ */
  /* back */
  /* ui parts - semantic type */
  --logo-hover-gradient: linear-gradient(108deg, #a86805 0, #633F02 30%, #311809 70%, var(--text-dark-color) 90%);
  --glonav-hover-gradient-r: linear-gradient(to right, #d98a0b 0, #613012 60%);
  --glonav-hover-gradient-l: linear-gradient(to left, #d98a0b 0, #613012 60%);
  --textbox-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  --textbox-bg: rgba(255, 255, 255, .925);
  --textbox-hover-shadow: 0 12px 12px 0 rgba(0, 0, 0, .14), 0 5px 7px 0 rgba(0, 0, 0, .065);
  --tag-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.25);
  --tag-hover-shadow: 3px 3.5px 6px 3px rgba(0, 0, 0, 0.2);
  --button-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.25);
  --button-hover-gradient: linear-gradient(115deg, #a86805 0, var(--text-dark-color) 40%) ;
  --button-hover-shadow: 3px 5.5px 6px 3px rgba(0, 0, 0, 0.2);
  --button-transition: all var(--ease-in-quad) .2s;
  --footer-bg: linear-gradient(-28deg, hsla(23, 60%, 14%, 1) 7%, var(--text-dark-color) 38%, var(--text-dark-color) 76%, hsla(23, 60%, 14%, 1) 93%);
  /* other - semantic type */
  --hover-scale: scale(1.01);
  /* hover & focus effect transition - semantic type */
  --in-transition: color .15s var(--ease-in-out-quad), background-color .15s var(--ease-in-out-quad), transform .15s var(--ease-in-out-quad);
  --out-transition: color .2s var(--ease-out-quad), background-color .2s var(--ease-in-out-quad), transform .2s var(--ease-in-out-quad);
  --carousel-fade: opacity .7s var(--ease-in-quad);
  --carousel-switch-effect: var(--in-transition), var(--carousel-fade);
}

/* SASS variables */
/* media query variable - map type */
/**
 * ブレイクポイントはコンピュータ/モニタ、
 * webと親和性の高い「"8"の倍数」を基準値とし、
 * 以下の4(+2)タイプのメディアクエリを使用してスタイルを書く
 *
 * ▼定義
 * キー名 : 画面サイズ  : 想定デバイス
 * sp     : 767px以下   : スマートフォン(smart phone)
 * tb     : 768~1023px  : タブレット(tablet)
 * dt     : 1024以上    : デスクトップPC(desktop)
 * dtl    : 1024~1599px : デスクトップPC・小型サイズ(desktop low)
 * dth    : 1600以上    : デスクトップPC・大型サイズ(desktop high)
 * sp-tb  : 1023以下    : スマホ~タブレットの画面サイズをカバー
 * tb-dth : 768以上     : タブレット~デスクトップの画面サイズをカバー
 */
/**
 * ----------
 * mixin
 * ----------
 */
/* media query mixin */
/* font-family mixin */
/* 見出しフォント用 */
/* 段落文章および通常フォント用 */
/* 欧文フォント用 */
/* -----

/* content width mixin */
/* calculation view width mixin */
/* ratina support mixin */
/**
 * Retina対応を行う
 * 例）@include retinaImage('/img/bg_main_visual','png');
 */
/**
 * -----
 * icon mixin
 */
/* 線 */
/* 矢印 (>) */
/* インライン矢印 (>) */
/* 矢印 (→) */
/* 三角形 */
/* 別窓(target="_blank"用) */
/* 「＋」 */
/**
 * ------
 * layout & arrangement mixin
 */
/* block要素のセンター配置 */
/* display: flex;を用いた上下左右中央配置 */
/* absoluteを用いた上下中央配置 */
/* absoluteを用いた上下左右中央配置 いずれかも選択可能 */
/* block要素の縦横比率固定 */
/**
 * -----
 * その他mixin
 */
/* モーション中の画像のにじみを抑える */
/* テキストリンクのhoverエフェクト */
/* figure mixin */
/* 正円 */
/**
 * # base.scss
 * 1. normalize.css + reset.css(Eric Mayer’s)の複合カスタムスタイル
 *   - Elad Shechter's RESETを参考にしている
 *   - この形式にした理由は、resetは無駄が多くnormalizeでは十分ではないため
 *   - sanitize.css、ress、Reboot.cssも一部参照している。2でも参照
 *   - 全称セレクタ(*)はすべてのセレクタに適用アクセスするため、
 *     レンダリングパフォーマンス観点から削除し使用しない
 *
 * 2. 独自定義の初期化スタイル(Masa Ishii Initialization Style)
 *
 * 3. アクセシビリティ用途
 *    - マウス操作
 *    - タッチパネル操作
 *    - キーボード操作(what-input.jsなど)
 *    - スクリーンリーダーによる音声読み上げ
 *
 * 4. そのほかデバイス(OS) / ブラウザ別ハック
 *
 * ----------
 * normalize
 * ! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
 * -----
 * Sections
 * -----
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: .67em 0;
  font-size: 2em;
}

/**
 * Show the overflow in Edge and IE.
 */
hr {
  height: 0;
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  /* 1 */
  font-size: 1em;
  font-family: monospace, monospace;
  /* 2 */
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  border-bottom: none;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  /* 1 */
  font-size: 1em;
  font-family: monospace, monospace;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/*
small {
  font-size: 80%;
}
*/
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/**
 * -----
 * Forms
 * -----
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  /* 2 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  margin: 0;
  /* 1 */
  font-size: 100%;
  font-family: inherit;
  /* 1 */
  line-height: 1.15;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 * 訳: iOSとSafariで、クリッカブルタイプのスタイリングを可能に
 */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 * 訳: Firefoxでクリッカブルタイプの内側の枠線とデフォルト余白を削除
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 * 訳:フォーカススタイルを元に戻す
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  color: inherit;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 訳: ChromeとSafariの奇妙な外観を修正
 * 2. Correct the outline style in Safari.
 * 訳: Safariでアウトラインスタイルを修正
 */
[type="search"] {
  /* 1 */
  outline-offset: -2px;
  -webkit-appearance: textfield;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 訳: iOSおよびSafariでクリック可能タイプにスタイル設定できないのを修正
 * 2. Change font properties to `inherit` in Safari.
 * 訳: Safariでフォントのプロパティを `inherit`に変更
 */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;
  -webkit-appearance: button;
  /* 2 */
}

/**
 * -----
 * Interactive
 * -----
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/**
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/**
 * -----
 * Misc
 * -----
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

output {
  display: inline-block;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * ----------
 * reset
 */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

/**
 * ----------
 * original initialization
 */
html {
  /* apply a natural box layout model to all elements, but allowing components to change */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*for using REM units*/
  overflow-y: scroll;
  font-size: 100%;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS.*/
  text-rendering: optimizeLegibility;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  color: var(--text-normal-color);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Roboto, Yu Gothic, YuGothic, Hiragino Sans, Meiryo, sans-serif;
  line-height: 1.5;
  direction: ltr;
  -webkit-font-feature-settings: "pkna" 1;
          font-feature-settings: "pkna" 1;
}

body * {
  /* 全称セレクタ単体は使いたくないのでbody、ボックスモデル(margin、paddin、border、content)を幅・高さに含めたいので、やむを得ずborder-box値適用(継承) */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: var(--sentence-font);
}

*::before,
*::after {
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
  background-repeat: no-repeat;
}

a:hover,
a:focus {
  text-decoration: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  color: inherit;
  background-color: transparent;
  border-style: none;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
  background-color: #b3d4fc;
}

::selection {
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
  background-color: #b3d4fc;
}

::-webkit-input-placeholder {
  color: #6f6f6f;
}

:-ms-input-placeholder {
  color: #6f6f6f;
}

::-moz-placeholder {
  color: #6f6f6f;
}

:placeholder-shown {
  color: var(--main-color);
}

/**
 * ----------
 * web accessibility
 * -----
 * what-input.jsによりdata属性付与
 * マウス/タッチイベント時のフォーカスリングスタイル打消
 * キーボードフォーカス時のみフォーカススタイル有効
 */
[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

/**
  * すべてのインタラクティブ・コンテンツ(要素)に対し、
  * focus-ringに独自カスタム疑似スタイルを定義
  */
[data-whatinput="keyboard"] a,
[data-whatinput="keyboard"] audio,
[data-whatinput="keyboard"] button,
[data-whatinput="keyboard"] details,
[data-whatinput="keyboard"] summary,
[data-whatinput="keyboard"] embed,
[data-whatinput="keyboard"] iframe,
[data-whatinput="keyboard"] img[usemap],
[data-whatinput="keyboard"] input:not([hidden]),
[data-whatinput="keyboard"] keygen,
[data-whatinput="keyboard"] label,
[data-whatinput="keyboard"] object[usemap],
[data-whatinput="keyboard"] select,
[data-whatinput="keyboard"] textarea,
[data-whatinput="keyboard"] video {
  outline: none;
  outline-offset: .0625rem;
  -webkit-transition: outline 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: outline 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
}

[data-whatinput="keyboard"] a:focus,
[data-whatinput="keyboard"] audio:focus,
[data-whatinput="keyboard"] button:focus,
[data-whatinput="keyboard"] details:focus,
[data-whatinput="keyboard"] summary:focus,
[data-whatinput="keyboard"] embed:focus,
[data-whatinput="keyboard"] iframe:focus,
[data-whatinput="keyboard"] img[usemap]:focus,
[data-whatinput="keyboard"] input:not([hidden]):focus,
[data-whatinput="keyboard"] keygen:focus,
[data-whatinput="keyboard"] label:focus,
[data-whatinput="keyboard"] object[usemap]:focus,
[data-whatinput="keyboard"] select:focus,
[data-whatinput="keyboard"] textarea:focus,
[data-whatinput="keyboard"] video:focus {
  outline: 0.125rem solid var(--focusring-color);
  outline-offset: .0625rem;
}

/**
 * コンテンツを視覚的に隠し、スクリーンリーダーで読ませる用途
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

/**
 * -----
 * WAI-ARIA
 * -----
 */
/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/*
 * ----------
 * そのほかデバイス(OS) / ブラウザ別ハック
 */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  border: 0;
  /* Correct the text wrapping in Edge and IE */
}

[type="search"] {
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  -webkit-appearance: textfield;
  /* Correct the outline style in Safari */
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  -webkit-appearance: button;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/**
 * # print.scss
 *   - ページ印刷用CSS
*/
/**
 * 必ず@media printブラケット({})の中に記述
 * 当該ページにおけるメインコンテンツ以外は印刷しない
 * 共通header・footer、asideなどは基本除外
 */
@media print {
  body > *:not(main) {
    display: none;
  }
}

.button {
  position: relative;
  display: inline-block;
  width: 12.5rem;
  height: 4rem;
  margin: 0 1rem;
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--black);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button:hover, .button:focus {
  color: var(--white);
  background-color: #787878;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.depth-effect {
  position: relative;
  top: 1.625rem;
  border: transparent;
  -webkit-perspective: 19rem;
          perspective: 19rem;
  /* hover 3D effect */
}

.depth-effect > .after,
.depth-effect > .before {
  position: absolute;
  top: 0;
  display: block;
  width: 12.5rem;
  height: 4rem;
  color: #b15602;
  line-height: 3.5rem;
  text-align: center;
  background-color: #f4dc71;
  border: 2px solid #074015;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -2rem;
          transform-origin: 50% 50% -2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.depth-effect > .before {
  color: #074015;
  background-color: #96e4a3;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -2rem;
          transform-origin: 50% 50% -2rem;
}

.depth-effect:hover, .depth-effect:focus {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.depth-effect:hover > .after,
.depth-effect:focus > .after {
  z-index: 3;
  border: 2px solid #b15602;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.depth-effect:hover > .before,
.depth-effect:focus > .before {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.double-door-effect {
  z-index: 2;
  color: var(--white);
  border: 2px solid #035ca5;
  /* double-door hover effect  */
}

.double-door-effect:before, .double-door-effect:after {
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 12rem;
  height: calc(4rem - 4px);
  background-color: #339ee6;
  -webkit-transition: all .5s;
  transition: all .5s;
  content: "";
}

.double-door-effect:before {
  left: 0;
}

.double-door-effect:after {
  right: 0;
}

.double-door-effect:hover, .double-door-effect:focus {
  color: #035ca5;
  background-color: var(--white);
  border-color: #035ca5;
}

.double-door-effect:hover:before, .double-door-effect:hover:after, .double-door-effect:focus:before, .double-door-effect:focus:after {
  width: 0;
  background-color: #5cb2eb;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.accordion-wrap {
  margin: 2rem auto;
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-wrap {
    width: 85%;
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-wrap {
    width: 60%;
  }
}

.accordion-button-box {
  margin: auto auto 1.5rem;
  text-align: right;
}

.accordion-all-button {
  min-width: 8.5rem;
  border: 1px solid var(--black);
  border-radius: 5px;
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-all-button {
    padding: .8rem;
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-all-button {
    padding: 1rem;
    -webkit-transition: var(--out-transition);
    transition: var(--out-transition);
  }
  .accordion-all-button:hover, .accordion-all-button:focus {
    color: var(--white);
    background-color: var(--black);
    -webkit-transition: var(--in-transition);
    transition: var(--in-transition);
  }
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-all-button:not(:first-of-type) {
    margin-left: 1rem;
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-all-button:not(:first-of-type) {
    margin-left: 1.75rem;
  }
}

.accordion-all-button.is-disabled {
  border: none;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3) inset;
  color: #666;
  cursor: not-allowed;
}

.accordion-all-button.is-disabled:hover, .accordion-all-button.is-disabled:focus {
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3) inset;
  background-color: var(--white);
  color: #666;
}

.accordion-list > li {
  color: var(--black);
  background-color: #d9d9d9;
}

.accordion-list > li:not(:last-of-type) {
  margin-bottom: .25rem;
}

.accordion-details {
  height: auto;
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-details {
    font-size: 1rem;
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-details {
    font-size: 1.1rem;
  }
}

.accordion-details > summary {
  padding: 1.5rem;
  list-style: none;
  cursor: pointer;
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-details > summary {
    padding: 1rem;
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-details > summary {
    padding: 1.5rem;
  }
  .accordion-details > summary:hover, .accordion-details > summary:focus {
    padding: calc(1.5rem - .0625rem);
    border: 0.0625rem solid var(--black);
    font-weight: bold;
  }
}

.accordion-details > summary::-webkit-details-marker {
  display: none;
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-details > summary:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 0px transparent solid;
    border-top: 6.5px transparent solid;
    border-bottom: 6.5px transparent solid;
    border-left: 11px var(--black) solid;
    -webkit-transition: border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    transition: border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    content: '';
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-details > summary:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 0px transparent solid;
    border-top: 7.5px transparent solid;
    border-bottom: 7.5px transparent solid;
    border-left: 13px var(--black) solid;
    -webkit-transition: border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    transition: border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    content: '';
  }
}

.accordion-details > summary:before {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
  -webkit-transition: -webkit-transform 0.25s var(--ease-out-quad);
  transition: -webkit-transform 0.25s var(--ease-out-quad);
  transition: transform 0.25s var(--ease-out-quad);
  transition: transform 0.25s var(--ease-out-quad), -webkit-transform 0.25s var(--ease-out-quad);
}

.accordion-details[aria-expanded="true"] > summary:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-timing-function: var(--ease-out-quad);
          transition-timing-function: var(--ease-out-quad);
}

.accordion-details__content {
  height: 0;
  overflow: hidden;
  color: var(--black);
  background-color: #e6e6e6;
  -webkit-transition: height 0.25s var(--ease-out-quad);
  transition: height 0.25s var(--ease-out-quad);
  pointer-events: none;
}

[open] .accordion-details__content {
  -webkit-transition-timing-function: var(--ease-out-quad);
          transition-timing-function: var(--ease-out-quad);
}

.accordion-details__paragraph {
  border-top: 0.0625rem solid #b3b3b3;
}

@media print, screen and (max-width: 63.9375em) {
  .accordion-details__paragraph {
    padding: 1rem;
  }
}

@media print, screen and (min-width: 64em) {
  .accordion-details__paragraph {
    padding: 1.5rem;
  }
}

/* styling */
/* カルーセルパネル(スライドパネル)UI コンテナー/container */
.carousel {
  margin: 1rem auto auto;
}

@media print, screen and (max-width: 63.9375em) {
  .carousel {
    width: 90vw;
  }
}

@media print, screen and (min-width: 64em) {
  .carousel {
    width: 100%;
    max-width: 50rem;
  }
}

.carousel__wrap {
  position: relative;
}

/* フレーム */
.carousel__frame {
  padding: 33.33%;
  overflow: hidden;
}

/* 各パネルの中身 = コンテンツ (divかaを想定) */
.carousel__content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.carousel__content[aria-hidden="false"] {
  z-index: 1;
  opacity: 1;
  -webkit-transition: var(--carousel-switch-effect);
  transition: var(--carousel-switch-effect);
}

.carousel__content[aria-hidden="false"]:focus {
  opacity: .92;
  -webkit-transition: var(--in-transition);
  transition: var(--in-transition);
}

@media print, screen and (min-width: 64em) {
  .carousel__content[aria-hidden="false"]:hover {
    opacity: .92;
    -webkit-transition: var(--in-transition);
    transition: var(--in-transition);
  }
}

.carousel__content[aria-hidden="true"] {
  -webkit-transition: var(--carousel-fade);
  transition: var(--carousel-fade);
}

/* コンテンツ画像 */
.carousel__img {
  width: 100%;
  height: 100%;
}

/* カルーセル アニメーション ※必要に応じてご利用ください */
/*
 * コントローラー群 - 前へナビ、次へナビ、再生ボタン、停止ボタン
 * 拡張性担保のため、classセレクタ名は一意にしている
 */
.carousel__control-pause,
.carousel__control-play,
.carousel__control-next,
.carousel__control-prev {
  position: absolute;
  padding: .1rem .5rem;
  text-align: center;
}

.carousel__control-next,
.carousel__control-prev {
  top: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--out-transition);
  transition: var(--out-transition);
}

.carousel__control-next:before,
.carousel__control-prev:before {
  position: absolute;
  top: 50%;
  display: block;
  border-style: solid;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  content: "";
}

@media print, screen and (max-width: 63.9375em) {
  .carousel__control-next:before,
  .carousel__control-prev:before {
    width: 1.25rem;
    height: 1.25rem;
    border-color: var(--white);
    border-width: 0 2px 2px 0;
  }
}

@media print, screen and (min-width: 64em) {
  .carousel__control-next:before,
  .carousel__control-prev:before {
    width: 1.5625rem;
    height: 1.5625rem;
    border-color: var(--border-color);
    border-width: 0 3px 3px 0;
  }
}

.carousel__control-next:focus,
.carousel__control-prev:focus {
  -webkit-transition: var(--in-transition);
  transition: var(--in-transition);
}

@media print, screen and (min-width: 64em) {
  .carousel__control-next:hover,
  .carousel__control-prev:hover {
    -webkit-transition: var(--in-transition);
    transition: var(--in-transition);
  }
}

.carousel__control-pause,
.carousel__control-play {
  z-index: 2;
  border: 1px solid #bbb;
  border-radius: 2px;
}

@media print, screen and (max-width: 63.9375em) {
  .carousel__control-pause,
  .carousel__control-play {
    bottom: 3%;
    left: 50%;
    width: 2.8rem;
    height: 2em;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media print, screen and (min-width: 64em) {
  .carousel__control-pause,
  .carousel__control-play {
    right: 2%;
    bottom: 3%;
    width: 3.3rem;
    height: 2.5em;
  }
}

.carousel__control-pause[aria-hidden="true"],
.carousel__control-play[aria-hidden="true"] {
  z-index: 0;
  visibility: hidden;
}

.carousel__control-pause[aria-hidden="false"],
.carousel__control-play[aria-hidden="false"] {
  visibility: visible;
}

.carousel__control-pause:focus,
.carousel__control-play:focus {
  background-color: var(--contrast-limit-gray);
}

@media print, screen and (min-width: 64em) {
  .carousel__control-pause:hover,
  .carousel__control-play:hover {
    background-color: var(--contrast-limit-gray);
  }
}

/* 前へナビ */
.carousel__control-prev {
  -webkit-transition: all 0.3s var(--ease-out-quad);
  transition: all 0.3s var(--ease-out-quad);
}

.carousel__control-prev:before {
  -webkit-transform: translate(0, -50%) rotate(135deg);
          transform: translate(0, -50%) rotate(135deg);
}

.carousel__control-prev:focus {
  -webkit-transform: translate(-10%, -50%) rotate(0);
          transform: translate(-10%, -50%) rotate(0);
  -webkit-transition: all 0.25s var(--ease-in-quad);
  transition: all 0.25s var(--ease-in-quad);
}

@media print, screen and (max-width: 63.9375em) {
  .carousel__control-prev {
    left: .2rem;
    z-index: 1;
  }
}

@media print, screen and (min-width: 64em) {
  .carousel__control-prev {
    left: -2.2rem;
  }
  .carousel__control-prev:hover {
    -webkit-transform: translate(-10%, -50%) rotate(0);
            transform: translate(-10%, -50%) rotate(0);
    -webkit-transition: all 0.25s var(--ease-in-quad);
    transition: all 0.25s var(--ease-in-quad);
  }
}

/* 次へナビ */
.carousel__control-next {
  -webkit-transition: -webkit-transform 0.3s var(--ease-out-quad);
  transition: -webkit-transform 0.3s var(--ease-out-quad);
  transition: transform 0.3s var(--ease-out-quad);
  transition: transform 0.3s var(--ease-out-quad), -webkit-transform 0.3s var(--ease-out-quad);
}

@media print, screen and (max-width: 63.9375em) {
  .carousel__control-next {
    right: -.3rem;
    z-index: 1;
  }
}

@media print, screen and (min-width: 64em) {
  .carousel__control-next {
    right: -2.2rem;
  }
  .carousel__control-next:hover {
    -webkit-transform: translate(10%, -50%) rotate(0);
            transform: translate(10%, -50%) rotate(0);
    -webkit-transition: -webkit-transform 0.25s var(--ease-in-quad);
    transition: -webkit-transform 0.25s var(--ease-in-quad);
    transition: transform 0.25s var(--ease-in-quad);
    transition: transform 0.25s var(--ease-in-quad), -webkit-transform 0.25s var(--ease-in-quad);
  }
}

.carousel__control-next:before {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.carousel__control-next:focus {
  -webkit-transform: translate(10%, -50%) rotate(0);
          transform: translate(10%, -50%) rotate(0);
  -webkit-transition: -webkit-transform 0.25s var(--ease-in-quad);
  transition: -webkit-transform 0.25s var(--ease-in-quad);
  transition: transform 0.25s var(--ease-in-quad);
  transition: transform 0.25s var(--ease-in-quad), -webkit-transform 0.25s var(--ease-in-quad);
}

/* 再生ボタン */
@media print, screen and (max-width: 63.9375em) {
  .carousel__control-play {
    background: #999 url(../img/img_play.png) 53% center no-repeat;
  }
}

@media print, screen and (min-width: 64em) {
  .carousel__control-play {
    background: #999 url(../img/img_play.png) 56% center no-repeat;
  }
}

/* 停止ボタン */
.carousel__control-pause {
  background: #999 url(../img/img_pause.png) 50% center no-repeat;
}

/* インジケーターもしくはサムネイルのコンテナー(リスト) */
.carousel__thumbnail-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media print, screen and (max-width: 63.9375em) {
  .carousel__thumbnail-list {
    -ms-grid-columns: (minmax(15%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: .5rem;
    margin-top: .8rem;
  }
}

@media print, screen and (min-width: 64em) {
  .carousel__thumbnail-list {
    -ms-grid-columns: (13%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 13%);
    gap: .75rem;
    margin-top: 1.5rem;
  }
}

/* インジケーター・サムネイル ボタン */
.carousel__thumbnail-btn {
  width: 100%;
  height: auto;
}

.carousel__thumbnail-btn[aria-selected="false"] {
  opacity: .8;
  -webkit-transition: opacity 0.3s var(--ease-out-quad);
  transition: opacity 0.3s var(--ease-out-quad);
}

.carousel__thumbnail-btn[aria-selected="true"] {
  outline: 0.2rem solid #248aff;
  outline-offset: 0;
  opacity: 1;
}

@media print, screen and (min-width: 64em) {
  .carousel__thumbnail-btn:hover {
    outline: 0.125rem solid var(--focusring-color);
    outline-offset: .0625rem;
    opacity: 1;
    -webkit-transition: opacity 0.25s var(--ease-in-quad);
    transition: opacity 0.25s var(--ease-in-quad);
  }
}

.carousel__thumbnail-btn:focus {
  opacity: 1;
  -webkit-transition: opacity 0.25s var(--ease-in-quad);
  transition: opacity 0.25s var(--ease-in-quad);
}

/* サムネイル画像(img) */
.carousel__thumbnail-img {
  width: 100%;
}

/* styling */
.modal-dialog {
  width: 100%;
  max-width: 64.25rem;
  margin: 2rem auto;
}

.modal-dialog:focus,
.dialog-panel:focus {
  outline: none;
}

.dialog-open {
  display: block;
  width: 300px;
  margin: 4rem auto;
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */
}

.dialog-open:hover,
.dialog-open:focus,
.dialog__button:hover,
.dialog__button:focus {
  color: var(--white);
  background-color: #777;
  /* fade-in effect */
  /* transition: background-color .25s ease, color .25s ease; */
}

.dialog-panel {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  padding: 0;
  background: var(--white);
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

_::-webkit-full-page-media,
_:future,
:root .dialog-panel {
  width: 100%;
  max-width: 365px;
  height: auto;
}

@supports (-ms-ime-align: auto) {
  .dialog-panel {
    max-width: 30%;
  }
}

.dialog-panel:not([open]) {
  display: block !important;
  visibility: hidden;
}

.dialog-panel[open] {
  -webkit-animation: fade-in .25s ease-out, slide-down .25s ease-out;
          animation: fade-in .25s ease-out, slide-down .25s ease-out;
}

.dialog-panel.is-motioned {
  -webkit-animation: fade-out .265s ease, slide-up .265s ease;
          animation: fade-out .265s ease, slide-up .265s ease;
}

/* native backdrop */
.dialog-panel::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog-panel::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* polyfill backdrop */
.dialog-panel + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade-in .25s ease-out;
          animation: fade-in .25s ease-out;
}

.dialog-panel__paragraph {
  margin: auto;
  padding: 4rem 3rem 0;
}

.dialog-panel__buttons {
  padding: 2rem 0 2.5rem;
  text-align: center;
}

.dialog__button {
  display: inline-block;
  min-width: 5rem;
  padding-top: .625rem;
  padding-bottom: .525rem;
  line-height: 1.5;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.dialog__button:not(:first-of-type) {
  margin-left: 1.75rem;
}

.dialog__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  color: var(--white);
  font-size: 2rem;
  background-color: var(--black);
  border-radius: 50%;
}

.dialog__close:hover,
.dialog__close:focus {
  color: var(--black);
  font-size: 2rem;
  background-color: var(--white);
  border: 1px solid #777;
}

.dialog-response {
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -23px);
            transform: translate(0, -23px);
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -23px);
            transform: translate(0, -23px);
    opacity: 0;
  }
}

/* styling */
.tab-ui {
  position: relative;
  width: 100%;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .tab-ui {
    max-width: 64.25rem;
  }
}

.tab-ui__heading {
  margin: 0 auto 1rem;
}

.tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

/* タブの隣接部分のborderが太くなることが許せない人向け */
/* .tablist>li:not(:first-of-type) .tab {
  margin-left: -1px;
} */
.tab {
  display: inline-block;
  padding: .65rem 1rem;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */
}

@media screen and (max-width: 767px) {
  .tablist > li {
    width: 33.33333%;
  }
  .tab {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .tab {
    width: auto;
    min-width: 12rem;
  }
}

/* 選択されているタブのスタイル */
.tab[aria-selected] {
  color: var(--white);
  background: var(--black);
}

/* タブのhover/focus状態スタイル */
.tab:hover,
.tab:focus {
  color: var(--white);
  background: #777;
  /* fade-in effect */
  /* transition: background-color .25s ease, color .25s ease; */
}

.tabpanel-wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 150px;
  overflow: hidden;
  color: var(--black);
  border: 1px solid var(--border-color);
}

.tabpanel {
  z-index: 0;
  width: 100%;
  padding: 1rem 2rem 2.5rem;
}

.tabpanel:focus {
  outline: none;
}

.tabpanel[aria-hidden="false"] {
  position: absolute;
  top: 9.5%;
  visibility: visible;
}

.tabpanel[aria-hidden="true"] {
  position: absolute;
  top: 9.5%;
  visibility: hidden;
}

.tabpanel__list > li:not(:first-of-type) {
  margin: .8rem auto auto;
}

.tabpanel__paragraph {
  margin: 1.4rem auto 0;
}

.tabpanel__link {
  display: inline-block;
  width: auto;
  margin: 1.4rem auto 0;
}

.other-content {
  width: 100%;
  max-width: 64.25rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 1px solid var(--black);
}

/* styling */
.header {
  position: relative;
  padding-top: 4rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid var(--black);
}

.global-nav {
  width: 100%;
  height: 6rem;
  margin-top: 5.5rem;
  background-color: #eee;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-left: 1px solid var(--black);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  max-width: 80rem;
  margin: 3rem auto;
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .container {
    max-width: none;
  }
}

.main {
  min-width: 80%;
}

.section-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.section {
  width: auto;
  margin-bottom: 10rem;
  margin-left: 2rem;
  padding: 6rem 50px;
  font-size: 1rem;
  list-style-type: none;
  border: 1px solid black;
}

.section:focus {
  outline: none;
}

.section__heading {
  margin-bottom: 4rem;
}

.aside {
  min-width: 20%;
}

.side-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  background: #ddd;
  border: 1px solid var(--black);
}

.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem 2rem;
  line-height: 3;
  text-align: center;
  background: #b5e9f7;
  border: 1px solid var(--black);
}

.toc__link.is-current,
.toc__link:hover,
.toc__link:focus {
  font-weight: bold;
  text-decoration: none;
}

.footer {
  position: relative;
  height: 500px;
  padding-top: 10rem;
  font-size: 3rem;
  text-align: center;
  border: 1px solid var(--black);
}

.back-to-top {
  position: absolute;
  top: -3rem;
  right: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 3rem;
  padding-top: .5rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background-color: #ccc;
  border-radius: 5rem 5rem 0 0;
}

.fieldset {
  width: 65%;
}

.fieldset:not(:first-of-type) {
  margin-top: 1rem;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.checkbox + label {
  position: relative;
  display: block;
  width: auto;
  margin-top: .5rem;
  padding-left: 1.8em;
  line-height: 1.75;
  cursor: pointer;
}

.checkbox:checked + label {
  color: #000098;
  font-weight: bold;
}

.checkbox:hover + label,
.checkbox:focus + label {
  opacity: .75;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.checkbox + label:before {
  position: absolute;
  top: .45rem;
  left: .28rem;
  z-index: 1;
  display: inline-block;
  width: .55rem;
  height: .34rem;
  border-top: 2.3px solid #000098;
  border-right: 2.3px solid #000098;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  content: "";
}

.checkbox:checked + label:before {
  opacity: 1;
  -webkit-animation: scale .1s ease-in-out .2s 1 normal running;
  animation: scale .1s ease-in-out .2s 1 normal running;
}

[data-whatinput="keyboard"] .checkbox:focus + label:after {
  border-color: #000098;
  -webkit-box-shadow: 0 0 4px #000098;
          box-shadow: 0 0 4px #000098;
}

.checkbox + label:after {
  position: absolute;
  top: .2rem;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border: 2px solid #888;
  border-radius: 4px;
  content: "";
}

.checkbox:disabled,
.checkbox + label[disabled] {
  cursor: not-allowed;
  opacity: .67;
}

@-webkit-keyframes scale {
  32% {
    -webkit-transform: scale(1.13) rotate(135deg);
            transform: scale(1.13) rotate(135deg);
  }
  83% {
    -webkit-transform: scale(1) rotate(135deg);
            transform: scale(1) rotate(135deg);
  }
}

@keyframes scale {
  32% {
    -webkit-transform: scale(1.13) rotate(135deg);
            transform: scale(1.13) rotate(135deg);
  }
  83% {
    -webkit-transform: scale(1) rotate(135deg);
            transform: scale(1) rotate(135deg);
  }
}

.fieldset {
  width: 65%;
}

.fieldset:not(:first-of-type) {
  margin-top: 1rem;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.radio + label {
  position: relative;
  display: block;
  width: auto;
  margin-top: .5rem;
  padding-left: 1.8em;
  line-height: 1.75;
  cursor: pointer;
}

.radio:checked + label {
  color: #000098;
  font-weight: bold;
}

.radio:hover + label,
.radio:focus + label {
  opacity: .75;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.radio:checked + label:before {
  opacity: 1;
  -webkit-animation: scale .1s ease-in-out .2s 1 normal running;
  animation: scale .1s ease-in-out .2s 1 normal running;
}

.radio:checked + label:before {
  opacity: 1;
  -webkit-animation: scale-radio .1s ease-in-out .2s 1 normal running;
  animation: scale-radio .1s ease-in-out .2s 1 normal running;
}

.radio:checked + label > svg {
  opacity: 1;
  -webkit-animation: scale-radio .1s ease-in-out .2s 1 normal running;
  animation: scale-radio .1s ease-in-out .2s 1 normal running;
}

[data-whatinput="keyboard"] .radio:focus + label:after {
  border-color: #000098;
  -webkit-box-shadow: 0 0 4px #000098;
          box-shadow: 0 0 4px #000098;
}

.radio:disabled,
.radio + label[disabled] {
  cursor: not-allowed;
  opacity: .67;
}

.radio + label > svg {
  position: absolute;
  top: .38rem;
  left: .16rem;
  z-index: 1;
  width: 15px;
  height: 15px;
  opacity: 0;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.radio + label:after {
  position: absolute;
  top: .19rem;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #fff;
  border: 2px solid #888;
  border-radius: 50%;
  content: "";
}

svg circle {
  fill: #000098;
  stroke: #000098;
}

@media screen and (-ms-high-contrast: active) {
  svg circle {
    fill: #fff;
    stroke: #fff;
  }
}

@-webkit-keyframes scale {
  32% {
    -webkit-transform: scale(1.13) rotate(135deg);
            transform: scale(1.13) rotate(135deg);
  }
  83% {
    -webkit-transform: scale(1) rotate(135deg);
            transform: scale(1) rotate(135deg);
  }
}

@keyframes scale {
  32% {
    -webkit-transform: scale(1.13) rotate(135deg);
            transform: scale(1.13) rotate(135deg);
  }
  83% {
    -webkit-transform: scale(1) rotate(135deg);
            transform: scale(1) rotate(135deg);
  }
}

@-webkit-keyframes scale-radio {
  32% {
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
  }
  83% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-radio {
  32% {
    -webkit-transform: scale(1.13);
            transform: scale(1.13);
  }
  83% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */