<main class="main-wrapper">
  <button type="button" class="button">Button</button>

  <button type="button" class="button depth-effect mt48">
    <span class="after">Hover</span>
    <span class="before">Button</span>
  </button>

  <button type="button" class="button double-door-effect mt48">Button</button>

  <p class="mt48">※ a要素(ページ遷移リンク)とbutton要素(アクショントリガー、またはsubmit)の見た目はそれぞれ変えてください</p>
</main>