.fieldset {
  width: 65%;
  font-size: calc(var(--font-size-m2));
}

.fieldset:not(:first-of-type) {
  margin-top: 1rem;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.checkbox + label {
  display: block;
  position: relative;
  width: auto;
  margin-top: .5rem;
  padding-left: 1.8em;
  line-height: 1.75;
  cursor: pointer;
}

.checkbox:checked + label {
  font-weight: bold;
  color: #000098;
}

.checkbox:hover + label,
.checkbox:focus + label {
  opacity: .75;
  transition: all .15s ease-in;
}

.checkbox + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: .45rem;
  left: .28rem;
  z-index: 1;
  width: .75rem;
  height: .45rem;
  border-top: 2.5px solid #000098;
  border-right: 2.5px solid #000098;
  opacity: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: all .15s ease-in;
}

.checkbox:checked + label:before {
  opacity: 1;
  -webkit-animation: scale .1s ease-in-out .2s 1 normal running;
  animation: scale .1s ease-in-out .2s 1 normal running;
}

[data-whatinput="keyboard"] .checkbox:focus + label:after {
  border-color: #000098;
  box-shadow: 0 0 4px #000098;
}

.checkbox + label:after {
  content: "";
  position: absolute;
  top: .2rem;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #888;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkbox:disabled,
.checkbox + label[disabled] {
  opacity: .67;
  cursor: not-allowed;
}

@-webkit-keyframes scale {
  32% {
    -webkit-transform: scale(1.13) rotate(135deg);
    transform: scale(1.13) rotate(135deg);
  }
  83% {
    -webkit-transform: scale(1) rotate(135deg);
    transform: scale(1) rotate(135deg);
  }
}

@keyframes scale {
  32% {
    -webkit-transform: scale(1.13) rotate(135deg);
    transform: scale(1.13) rotate(135deg);
  }
  83% {
    -webkit-transform: scale(1) rotate(135deg);
    transform: scale(1) rotate(135deg);
  }
}