.container {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .8s;
}

.bounce-leave-active {
  animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0)
  }

  50% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(0)
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s
}

.layout-enter,
.layout-leave-active {
  opacity: 0
}

.fade {
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    opacity: 0;
  }
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    transition: all .6s ease;
  }
}

.fade-up {
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }
  &-enter {
    transform: translateY(10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all .6s ease;
  }
}

.fade-down {
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }
  &-enter {
    transform: translateY(-10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all .6s ease;
  }
}

.fade-right {
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }
  &-enter {
    transform: translateX(10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all .6s ease;
  }
}

.fade-left {
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  &-enter {
    transform: translateX(-10px);
    opacity: 0;
  }
  &-enter-active {
    transition: all .6s ease;
  }
}

.zoom-in {
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-leave-to {
    transform: scale(.9);
    opacity: 0;
  }
  &-enter {
    transform: scale(.9);
    opacity: 0;
  }
  &-enter-active {
    transition: all .6s ease;
  }
}