<main role="main" class="main-wrapper">
  <div class="table-scroll">
    <table class="cell-center" width="100%">
      <caption>三鷹市のゴミ収集スケジュール</caption>
      <thead>
        <tr>
          <th>ゴミ収集分類</th>
          <th>月曜日</th>
          <th>火曜日</th>
          <th>水曜日</th>
          <th>木曜日</th>
          <th>金曜日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>燃やせるゴミ</td>
          <td>◯</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>空きびん・缶</td>
          <td>✕</td>
          <td>◯ (第2・4)</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>ペットボトル</td>
          <td>✕</td>
          <td>◯ (第1・3)</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>古紙・古着</td>
          <td>✕</td>
          <td>◯</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>燃やせないごみ</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯ (第1・3)</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>プラスチック類</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯</td>
        </tr>
        <tr>
          <td>有害ごみ</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>