<main class="main-wrapper">
  <div class="flexbox -centered -only-flex-component">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</main>