<h2 class="heading2">- Primary</h2>
<div class="flexbox -primary" style="width:10rem;margin:3rem auto;">
  <div style="width:3rem;">あああ</div>
  <div style="width:3rem;">いいい</div>
  <div style="width:3rem;">ううう</div>
  <div style="width:3rem;">えええ</div>
  <div style="width:3rem;">おおお</div>
  <div style="width:3rem;">かかか</div>
</div>
<hr>
<h2 class="heading2">- Secondary</h2>