.flexbox.-primary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  width: 90vw;
  max-width: 100rem;
  margin: auto;
}

@media print, screen and (min-width: 64em) {
  .flexbox.-primary {
    margin-top: 2rem;
  }
}

@media print, screen and (max-width: 63.9375em) {
  .flexbox.-primary {
    margin-top: 1.5rem;
  }
}

.flexbox.-primary::after, .flexbox.-primary::before {
  content: "";
  display: block;
  width: 32%;
  height: 0;
}

.flexbox.-primary::before {
  order: 1;
}