

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <div>
  <a class="button" href="#"><span>Hover</span><span>Button</span></a>
</div>
<div>
  <a class="button2" href="#" style="margin: 50px 0;">Button</a>
</div>

  </body>
</html>
