

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
  <main class="main-wrapper">
  <div class="calendar-control">
    <button type="button" id="js-calendar-prev" class="calendar-control__prev" aria-label="前の月のカレンダーを表示">前の月へ</button>
    <button type="button" id="js-calendar-next" class="calendar-control__next" aria-label="次の月のカレンダーを表示">次の月へ</button>
  </div>
  <table class="calendar">
    <!-- 現在年月をJavaScriptで挿入 -->
    <caption id="name" class="caption">YYYY年MM月のカレンダー</caption>
    <thead class="table-head">
      <tr>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th class="saturday">土</th>
        <th class="sunday">日</th>
      </tr>
    </thead>
    <tbody id="calendar-body" class="table-body">
      <!-- tr要素以下をJavaScriptで動的にカレンダーUIを挿入 -->
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</main>
  </body>
</html>
