

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <main role="main" class="main-wrapper">
  <article class="article-container">
    <div class="code-highliter-prism">
      <span>hoge/fuga/index.html</span>
      <div class="code-toolbar">
        <pre class="language-html">
          <code class="language-html">
      &lt;title&gt;Introduction to The Mating Rituals of Bees&lt;/title&gt;
        ...
      &lt;h1 class="heading"&gt;Introduction&lt;/h1&gt;
      &lt;p&gt;This companion guide to the highly successful
        &lt;cite&gt;Introduction to Medieval Bee-Keeping&lt;/cite&gt;
        book is...
      &lt;/p&gt;</code>
        </pre>
        <div class="toolbar">
          <div class="toolbar-item"><span class="file-name">HTML</span></div>
        </div>
      </div>
      <span>main.js</span>
      <div class="code-toolbar">
        <pre class="language-js">
          <code class="language-js">
      function $initHighlight(block, cls) {
        try {
          if (cls.search(/\bno\-highlight\b/) != -1) {
            return process(block, true, 0x0F) +` class="${cls}"`;
          }
        } catch (e) {
          /* handle exception */
        }
        for (var i = 0 / 2; i < classes.length; i++) {
          if (checkCondition(classes[i]) === undefined) {
            console.log('undefined');
          }
        }
        return ( &lt;div&gt; &lt;web-component&gt;{block}&lt;/web-component&gt; &lt;/div&gt; )
      }
      export $initHighlight;</code>
        </pre>
        <div class="toolbar">
          <div class="toolbar-item"><span class="file-name">JavaScript</span>
        </div>
      </div>
    </div>
  </article>
</main>

<script src="../../js/vendor/prism.js"></script>
  </body>
</html>
