

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
  <main class="main-wrapper">
  <ul class="nav-container js-dropdown-list">
    <li>
      <button type="button" class="dropdown-trigger js-trigger" aria-controls="list1"><span class="triangle-bottom ml16-after">記事</span></button>
      <ul id="list1" class="dropdown-list js-target" aria-hidden="true">
        <li>
          <a href="/" class="shape-arrow-right ml12-after">読み物タイトル01</a>
        </li>
        <li>
          <a href="/" class="shape-arrow-right ml12-after">読み物タイトル02</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button" class="dropdown-trigger js-trigger" aria-controls="list2"><span class="triangle-bottom ml16-after">カスタマーサポート</span></button>
      <ul id="list2" class="dropdown-list js-target" aria-hidden="true">
        <li>
          <a href="/" class="shape-arrow-right ml12-after">
            マイページ
          </a>
        </li>
        <li>
          <a href="/" class="shape-arrow-right ml12-after ml12-after">
            よくあるご質問
          </a>
        </li>
        <li>
          <a href="/" class="shape-arrow-right ml12-after">
            お問合せ
          </a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button" class="dropdown-trigger js-trigger" aria-controls="list3"><span class="triangle-bottom ml16-after">About Us</span></button>
      <ul id="list3" class="dropdown-list js-target" aria-hidden="true">
        <li>
          <a href="/" class="shape-arrow-right ml12-after">
            会社情報
          </a>
        </li>
        <li>
          <a href="/" class="shape-arrow-right ml12-after">
            プライバシーポリシー
          </a>
        </li>
        <li>
          <a href="/" class="shape-arrow-right ml12-after">
            コンプライアンス
          </a>
        </li>
        <li>
          <a href="/" class="shape-arrow-right ml12-after">
            サイトポリシー
          </a>
        </li>
      </ul>
    </li>
  </ul>
</main>
  </body>
</html>
