

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <div class="contents-wrapper">
  <header style="width: 100%; height: 5rem; border: 1px solid #333;">ヘッダー（header）</header>
  <main role="main" class="main-wrapper" style="height: fit-content; margin-top: 1rem; padding-top: 1rem; border: 1px solid #333;">
    <p style="margin-bottom: 2rem;">メインコンテンツのラッパーフレーム/外装（main）</p>
    <article class="article-container" style="width: 100%; height: fit-content; padding-top: 1rem; border: 1px solid #333;">
      <p style="margin-bottom: 1rem;">記事コンテナー（article）</p>
      <section style="width: 95%; height: 6rem; margin: auto; border: 1px solid #333;">
        <h2>記事タイトル</h2>
        <p>セクション1</p>
      </section>
      <section style="width: 95%; height: 6rem; margin: 1rem auto; border: 1px solid #333;">
        <h2>記事タイトル</h2>
        <p>セクション2</p>
      </section>
    </article>
  </main>
  <aside class="aside-wrapper" role="complementary" style="margin-top: 1rem; padding-top: 1rem; border: 1px solid #333;">メイン外コンテンツ（aside）
  </aside>
  <footer style="width: 100%; height: 5rem; margin-top: 1rem; border: 1px solid #333;">フッター（footer）</footer>
</div>
  </body>
</html>
