

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <div class="frame-wrapper grid-area">
  <header class="header">header</header>
  <main class="main">
    main / メインコンテンツのラッパーフレーム/外装
    <article>
      article / 記事コンテナ
      <section>
        section / セクション1
        <h2>header / 記事タイトル</h2>
      </section>
      <section>
        section / セクション2
        <h2>header / 記事タイトル</h2>
      </section>
    </article>
  </main>
  <nav class="nav">nav</nav>
  <aside class="aside">aside</aside>
  <footer class="footer">footer</footer>
</div>
  </body>
</html>
