

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <main class="main-wrapper">
  <div id="modal-dialog" class="modal-dialog">
    <button type="button" id="dialog-open" class="dialog-open">
      モーダルダイアログ<br>
      (モーダルウインドウ)を開く
    </button>
    <dialog
      id="dialog-panel"
      class="dialog-panel"
      role="dialog"
      aria-describedby="d-message"
    >
      <p id="d-message" class="dialog-panel__paragraph" role="document">
        モーダルダイアログ(モーダルウインドウ)<br class="display-tbdt">
        とはどんなものか知っていますか？
      </p>
      <div class="dialog-panel__buttons">
        <button type="button" id="dialog-yes" class="dialog-panel__button">
          はい
        </button>
        <button type="button" id="dialog-no" class="dialog-panel__button">
          いいえ
        </button>
      </div>
      <button
        type="button"
        id="dialog-close"
        class="dialog-panel__close"
        aria-label="このモーダルダイアログを閉じる"
      >
        <span class="positioning">×</span>
      </button>
    </dialog>
    <p class="dialog-response">
      ダイアログの返り値：<br>
      <em><span id="return-value"></span></em>
    </p>
  </div>
</main>
  </body>
</html>
