

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
  <main class="main-wrapper">
  <h2 class="heading2">Regular Nav</h2>
  <nav class="regular-nav">
    <ul class="nav-list">
      <li>
        <span aria-current="page">
          <span class="ja">ホーム</span>
          <span class="en">home</span>
        </span>
      </li>
      <li>
        <a href="/" class="nav-link">
          <span class="ja">ブログ</span>
          <span class="en">blog</span>
        </a>
      </li>
      <li>
        <a href="/" class="nav-link">
          <span class="ja">運営者</span>
          <span class="en">about</span>
        </a>
      </li>
      <li>
        <a href="/" class="nav-link">
          <span class="ja">問い合わせ</span>
          <span class="en">contact</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="divider my32" role="separator"></div>
  <h2 class="heading2">Breadcrumb Nav</h2>
  <nav class="breadcrumb-container">
    <ul class="breadcrumb-list">
      <li>
        <a href="/" class="isActive breadcrumb-link">ホーム</a>
      </li>
      <li>
        <a href="/" class="isActive breadcrumb-link">ブログ</a>
      </li>
      <li>
        <span class="breadcrumb-current">記事タイトル</span>
      </li>
    </ul>
  </nav>
</main>
  </body>
</html>
