

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <fieldset class="fieldset">
  <legend>ラジオボタンはフォーカスしたら方向キーで選択操作</legend>

  <input type="radio" id="radio1" name="radio1" checked class="radio">
  <label for="radio1">
    <svg>
      <use xlink:href="#radio-icon"></use>
    </svg>ラジオボタン1</label>

  <input type="radio" id="radio2" name="radio1" class="radio">
  <label for="radio2">
    <svg>
      <use xlink:href="#radio-icon"></use>
    </svg>ラジオボタン2</label>
  
  <input type="radio" id="radio3" name="radio1" class="radio" disabled>
  <label for="radio3" disabled>非活性ラジオボタン</label>
</fieldset>
<p>※キーボード操作時のみフォーカス・インジケーターにスタイル適用</p>

<svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="radio-icon" width="15" height="15" viewBox="-100 -100 200 200" >
    <circle cx="0" cy="0" r="80">
  </symbol>
</svg>
  </body>
</html>
