

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <main class="main-wrapper">
  <div class="range-slider-container">
    <h2 class="heading2">Range Slider</h2>
    <input type="range" id="volume" name="volume" min="0" max="100">
    <label for="volume" class="control-name">Volume Control / 音量調節</label>
    <div class="volume-value">初期値:50</div>
    <div class="mt8">左:最小値0 | 右:最大値100</div>
  </div>
  <div class="divider" role="separator"></div>
  <div class="range-slider-container mt40">
    <h2 class="heading2">Range Slider with Scale</h2>
    <input id="something" type="range" name="" list="datalist" min="0" max="100" step="10">
      <datalist id="datalist">
        <option value="10" label="10"></option>
        <option value="20" label="20"></option>
        <option value="30" label="30"></option>
        <option value="40" label="40"></option>
        <option value="50" label="50"></option>
        <option value="60" label="60"></option>
        <option value="70" label="70"></option>
        <option value="80" label="80"></option>
        <option value="90" label="90"></option>
        <option value="100" label="100"></option>
      </datalist>
    <label for="" class="control-name">Something Control / 何かの調節</label>
    <div class="something-value">初期値:50</div>
  </div>
</main>
  </body>
</html>
