

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <main class="main-wrapper">
  <div class="table-scroll">
    <table class="cell-center" width="100%">
      <caption>三鷹市のゴミ収集スケジュール</caption>
      <thead>
        <tr>
          <th>ゴミ収集分類</th>
          <th>月曜日</th>
          <th>火曜日</th>
          <th>水曜日</th>
          <th>木曜日</th>
          <th>金曜日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>燃やせるゴミ</td>
          <td>◯</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>空きびん・缶</td>
          <td>✕</td>
          <td>◯ (第2・4)</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>ペットボトル</td>
          <td>✕</td>
          <td>◯ (第1・3)</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>古紙・古着</td>
          <td>✕</td>
          <td>◯</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>燃やせないごみ</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯ (第1・3)</td>
          <td>✕</td>
          <td>✕</td>
        </tr>
        <tr>
          <td>プラスチック類</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯</td>
        </tr>
        <tr>
          <td>有害ごみ</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>✕</td>
          <td>◯</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
  </body>
</html>
