

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.6/what-input.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js" defer></script>
    <script src="../../js/main.js" type="module" defer></script>
  <body>
    <div class="toc-container">
  <span class="toc-title">目次</span>
  <details class="toc-open">
    <summary><span>[ 開く ]</span></summary>
    <ul class="toc">
      <li>
        <a href="#prologue" class="toc__link">はじめに</a>
      </li>
      <li>
        <a href="#middle" class="toc__link">中間に</a>
      </li>
      <li>
        <a href="#epilogue" class="toc__link">おわりに</a>
      </li>
    </ul>
  </details>
</div>
<section id="prologue" class="section" style="margin-top:6rem;">
  <h2 style="text-align:center;">はじめに</h2>
  <p style="height:300px;"><a href="#"></p>
</section>
<section id="middle" class="section" >
  <h2 style="text-align:center;">中間に</h2>
  <p style="height:300px;"></p>
</section>
<section id="epilogue" class="section" >
  <h2 style="text-align:center;">おわりに</h2>
  <p style="height:300px;"></p>
</section>
  </body>
</html>
