

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="../../js/main.js" type="module" defer></script>
  </head>
  <body>
    <main class="main-wrapper">
  <h2 class="heading2">Shape</h2>
  <ul>
    <li>
      <span>・正円</span>
      <div class="circle-figure my24"></div>
    </li>
    <li class="mt48">
      <div>・棒なし矢印(インライン)</div>
      <div class="my24">
        <div class="shape-arrow-top">上向き</div>
        <div class="shape-arrow-right mt16">右向き</div>
        <div class="shape-arrow-bottom mt16">下向き</div>
        <div class="shape-arrow-left mt16">左向き</div>
      </div>
    </li>
    <li class="mt48">
      <span>・区切り線</span>
      <div class="divider" role="separator"></div>
    </li>
  </ul>
  <h2 class="heading2">Display</h2>
  <article class="display-sptb">
    <h3>
      画面幅0~1024pxでコンテンツ表示<br>
      スマートデバイス・タブレットを概ねカバー
    </h3>
  </article>
  <article class="display-dt">
    <h3>
      画面幅1024px以上でコンテンツ表示<br>
      デスクトップPC用モニターを概ねカバー
    </h3>
</main>
  </body>
</html>
