.accordion-wrap {
  margin: 2rem auto;
  @include mq(sp-tb) {
    width: 85%;
  }
  @include mq(dt) {
    width: 60%;
  }
}

.accordion-list > li {
  color: var(--black);
  background-color: hsla(0, 0%, 85%, 1);
  &:not(:last-of-type) {
    margin-bottom: .25rem;
  }
}

.accordion-details {
  height: auto;
  @include mq(sp-tb) {
    font-size: 1rem;
  }
  @include mq(dt) {
    font-size: 1.1rem;
    &:hover {
      text-decoration: underline;
    }
  }

  & > summary {
    padding: 1.5rem;
    list-style: none;
    cursor: pointer;
    @include mq(sp-tb) {
      padding: 1rem;
    }
    @include mq(dt) {
      padding: 1.5rem;
    }
    &::-webkit-details-marker {
      display: none;
    }
    @include mq(sp-tb) {
      &:before {
        @include triangle(11, 13, right, var(--black));
      }
    }
    @include mq(dt) {
      &:before {
        @include triangle(13, 15, right, var(--black));
      }
    }
    &:before {
      display: inline-block;
      width: auto;
      margin-right: 1rem;
      transition: transform .25s var(--ease-in-quad);
    }
  }
  &[aria-expanded="true"] > summary:before {
    transform: rotate(90deg);
    transition-timing-function: var(--ease-in-quad);
  }
}

.accordion-details__content {
  height: 0;
  overflow: hidden;
  color: var(--black);
  background-color: hsla(0, 0%, 90%, 1);
  transition: height .25s var(--ease-in-quad);
  pointer-events: none;
  [open] & {
    transition-timing-function: var(--ease-in-quad);
  }
}

.accordion-details__paragraph {
  border-top: .0625rem solid hsla(0, 0%, 70%, 1);
  @include mq(sp-tb) {
    padding: 1rem;
  }
  @include mq(dt) {
    padding: 1.5rem;
  }
}

.accordion-button-box {
  margin: 2rem auto auto;
  text-align: center;
}

.accordion-all-button {
  border: 1px solid #333;
  border-radius: 5px;
  @include mq(sp-tb) {
    min-width: 5rem;
    padding: .8rem;
  }
  @include mq(dt) {
    min-width: 8rem;
    padding: 1rem;
  }
  &:not(:first-of-type) {
    @include mq(sp-tb) {
      margin-left: 1rem;
    }
    @include mq(dt) {
      margin-left: 2rem;
    }
  }
}
