/* styling */
.modal-dialog {
  width: 100%;
  max-width: 64.25rem;
  margin: 2rem auto;
}

.modal-dialog:focus,
.dialog-panel:focus {
  outline: none;
}

.dialog-open {
  display: block;
  width: 300px;
  margin: 4rem auto;
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */
}

.dialog-open:hover,
.dialog-open:focus,
.dialog__button:hover,
.dialog__button:focus {
  color: var(--white);
  background-color: #777;
  /* fade-in effect */
  /* transition: background-color .25s ease, color .25s ease; */
}

.dialog-panel {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  padding: 0;
  background: var(--white);
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

_::-webkit-full-page-media,
_:future,
:root .dialog-panel {
  width: 100%;
  max-width: 365px;
  height: auto;
}

@supports (-ms-ime-align: auto) {
  .dialog-panel {
    max-width: 30%;
  }
}

.dialog-panel:not([open]) {
  display: block !important;
  visibility: hidden;
}

.dialog-panel[open] {
  animation: fade-in .25s ease-out, slide-down .25s ease-out;
}

.dialog-panel.is-motioned {
  animation: fade-out .265s ease, slide-up .265s ease;
}

/* native backdrop */
.dialog-panel::backdrop {
  background-color: rgba(0, 0, 0, .5);
}

/* polyfill backdrop */
.dialog-panel + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  animation: fade-in .25s ease-out;
}

.dialog-panel__paragraph {
  margin: auto;
  padding: 4rem 3rem 0;
}

.dialog-panel__buttons {
  padding: 2rem 0 2.5rem;
  text-align: center;
}

.dialog__button {
  display: inline-block;
  min-width: 5rem;
  padding-top: .625rem;
  padding-bottom: .525rem;
  line-height: 1.5;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.dialog__button:not(:first-of-type) {
  margin-left: 1.75rem;
}

.dialog__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  color: var(--white);
  font-size: 2rem;
  background-color: var(--black);
  border-radius: 50%;
}

.dialog__close:hover,
.dialog__close:focus {
  color: var(--black);
  font-size: 2rem;
  background-color: var(--white);
  border: 1px solid #777;
}

.dialog-response {
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, -23px);
    opacity: 0;
  }
}
