@use "../../base/setting";

.accordion-wrap {
  width: 100%;
  margin: auto;
  @include setting.mq(tb-dth) {
    max-width: 50rem;
  }
}

.accordion-button-box {
  display: flex;
  margin: auto auto 1.5rem;
  @include setting.mq(sp-tb) {
    justify-content: center;
  }
  @include setting.mq(dt) {
    justify-content: flex-end;
  }
}

.accordion-all-button {
  border: 1px solid hsla(0, 0%, 20%, 1);
  border-radius: 5px;
  @include setting.mq(sp-tb) {
    width: 43%;
    padding: 1rem 0.5rem;
  }
  @include setting.mq(dt) {
    min-width: 8.5rem;
    padding: 1rem;
    transition: var(--out-transition);
    &:hover,
    &:focus {
      background-color: hsla(0, 0%, 20%, 1);
      color: hsla(0, 100%, 100%, 1);
      transition: var(--in-transition);
    }
  }
  &:not(:first-of-type) {
    @include setting.mq(sp-tb) {
      margin-left: 1rem;
    }
    @include setting.mq(dt) {
      margin-left: 1.75rem;
    }
  }
  &[disabled="true"] {
    border: none;
    color: hsla(0, 0%, 40%, 1);
    box-shadow: 1px 1px 3px 2px hsla(0, 0%, 0%, 0.3) inset;
    cursor: not-allowed;
    &:hover,
    &:focus {
      background-color: hsla(0, 100%, 100%, 1);
      color: hsla(0, 0%, 40%, 1);
      box-shadow: 1px 1px 3px 2px hsla(0, 0%, 0%, 0.3) inset;
    }
  }
}

.accordion-list > li {
  background-color: hsla(0, 0%, 85%, 1);
  color: hsla(0, 0%, 20%, 1);
  &:not(:last-of-type) {
    margin-bottom: 0.25rem;
  }
}

.accordion-details {
  height: auto;
  @include setting.mq(sp-tb) {
    font-size: 1rem;
  }
  @include setting.mq(dt) {
    font-size: 1.1rem;
  }

  & > summary {
    padding: 1.5rem;
    // list-style: none;
    cursor: pointer;
    @include setting.mq(sp-tb) {
      padding: 1rem;
    }
    @include setting.mq(dt) {
      padding: 1.5rem;
      &:hover,
      &:focus {
        padding: calc(1.5rem - 0.0625rem);
        border: 0.0625rem solid hsla(0, 0%, 20%, 1);
        font-weight: bold;
      }
    }
    @include setting.mq(sp-tb) {
      &:before {
        @include setting.triangle(11, 13, right, hsla(0, 0%, 20%, 1));
      }
    }
    @include setting.mq(dt) {
      &:before {
        @include setting.triangle(13, 15, right, hsla(0, 0%, 20%, 1));
      }
    }
    &::marker {
      font-size: 0;
    }
    &::-webkit-details-marker {
      font-size: 0;
    }
    &:before {
      display: inline-block;
      width: auto;
      margin-right: 1rem;
      transition: transform 0.25s var(--ease-out-quad);
    }
  }
  &[aria-expanded="true"] > summary:before {
    transform: rotate(90deg);
    transition-timing-function: var(--ease-out-quad);
  }
}

.accordion-details__content {
  height: 0;
  background-color: hsla(0, 0%, 90%, 1);
  color: hsla(0, 0%, 20%, 1);
  overflow: hidden;
  transition: height 0.25s var(--ease-out-quad);
  pointer-events: none;
  [open] & {
    transition-timing-function: var(--ease-out-quad);
  }
}

.accordion-details__paragraph {
  border-top: 0.0625rem solid hsla(0, 0%, 70%, 1);
  @include setting.mq(sp-tb) {
    padding: 1rem;
  }
  @include setting.mq(dt) {
    padding: 1.5rem;
  }
}
