.accordion-wrap {
  margin: 2rem auto;
  @include mq(sp-tb) {
    width: 85%;
  }
  @include mq(dt) {
    width: 60%;
  }
}

.accordion-button-box {
  display: flex;
  margin: auto auto 1.5rem;
  @include mq(sp-tb) {
    justify-content: center;
  }
  @include mq(dt) {
    justify-content: flex-end;
  }
}

.accordion-all-button {
  border: 1px solid var(--black);
  border-radius: 5px;
  @include mq(sp-tb) {
    width: 43%;
    padding: 1rem .5rem;
  }
  @include mq(dt) {
    min-width: 8.5rem;
    padding: 1rem;
    transition: var(--out-transition);
    &:hover,
    &:focus {
      background-color: var(--black);
      color: var(--white);
      transition: var(--in-transition);
    }
  }
  &:not(:first-of-type) {
    @include mq(sp-tb) {
      margin-left: 1rem;
    }
    @include mq(dt) {
      margin-left: 1.75rem;
    }
  }
  &[disabled="true"] {
    border: none;
    color: #666;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .3) inset;
    cursor: not-allowed;
    &:hover,
    &:focus {
      background-color: var(--white);
      color: #666;
      box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .3) inset;
    }
  }
}

.accordion-list > li {
  background-color: hsla(0, 0%, 85%, 1);
  color: var(--black);
  &:not(:last-of-type) {
    margin-bottom: .25rem;
  }
}

.accordion-details {
  height: auto;
  @include mq(sp-tb) {
    font-size: 1rem;
  }
  @include mq(dt) {
    font-size: 1.1rem;
  }

  & > summary {
    padding: 1.5rem;
    // list-style: none;
    cursor: pointer;
    @include mq(sp-tb) {
      padding: 1rem;
    }
    @include mq(dt) {
      padding: 1.5rem;
      &:hover,
      &:focus {
        padding: calc(1.5rem - .0625rem);
        border: .0625rem solid var(--black);
        font-weight: bold;
      }
    }
    @include mq(sp-tb) {
      &:before {
        @include triangle(11, 13, right, var(--black));
      }
    }
    @include mq(dt) {
      &:before {
        @include triangle(13, 15, right, var(--black));
      }
    }
    &::marker {
      font-size: 0;
    }
    &::-webkit-details-marker {
      font-size: 0;
    }
    &:before {
      display: inline-block;
      width: auto;
      margin-right: 1rem;
      transition: transform .25s var(--ease-out-quad);
    }
  }
  &[aria-expanded="true"] > summary:before {
    transform: rotate(90deg);
    transition-timing-function: var(--ease-out-quad);
  }
}

.accordion-details__content {
  height: 0;
  background-color: hsla(0, 0%, 90%, 1);
  color: var(--black);
  overflow: hidden;
  transition: height .25s var(--ease-out-quad);
  pointer-events: none;
  [open] & {
    transition-timing-function: var(--ease-out-quad);
  }
}

.accordion-details__paragraph {
  border-top: .0625rem solid hsla(0, 0%, 70%, 1);
  @include mq(sp-tb) {
    padding: 1rem;
  }
  @include mq(dt) {
    padding: 1.5rem;
  }
}
