@use "../../base/setting";

.calendar-control {
  display: flex;
  justify-content: center;
}
.calendar-control__prev,
.calendar-control__next {
  position: relative;
  transition: transform .3s var(--ease-out-quad);
  @include setting.mq(sp-tb) {
    width: 8rem;
    height: 2rem;
  }
  @include setting.mq(dt) {
    width: 10rem;
    height: 2.5rem;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    border-style: solid;
    border-color: var(--border-color);
    backface-visibility: hidden;
    @include setting.mq(sp-tb) {
      width: 1.25rem;
      height: 1.25rem;
      border-width: 0 2px 2px 0;
    }
    @include setting.mq(dt) {
      width: 1.5rem;
      height: 1.5rem;
      border-width: 0 3px 3px 0;
    }
  }
}
.calendar-control__prev:before {
  left: .5rem;
  transform: translateY(-50%) rotate(135deg);
}
.calendar-control__next:before {
  right: .5rem;
  transform: translateY(-50%) rotate(-45deg);

}

.calendar {
  .main-wrapper > & {
    height: 70vh;
  }
  width: 100%;
  > .caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--black);
  }
  > .table-head > tr > th {
    width: calc(100% / 7);
    padding: .5rem;
    border: .025rem solid var(--border-color);
    background-color: hsla(0, 0%, 95%, 1);
    text-align: center;
    &.saturday {
      color: hsla(229, 73%, 19%, 1);
    }
    &.sunday {
      color: hsla(350, 100%, 45%, 1);
    }
  }

  > .table-body > tr > td {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: .025rem solid var(--border-color);
    text-align: center;
    vertical-align: top;
    &.today > .deco {
      font-weight: bold;
      color: var(--white);
      background-color: hsla(229, 90%, 54%, 1);
      border-radius: 50%;
      display: inline-block;
      padding: 0.2rem;
      width: 2rem;
      height: 2rem;
    }
    &.prev-month-day,
    &.next-month-day {
      color: hsla(0, 0%, 80%, 1);
    }
  }
}