@use "../../base/settings";

.carousel {
  margin: auto;
  @include settings.mq(sp-tb) {
    width: 90vw;
  }
  @include settings.mq(dt) {
    width: 100%;
    max-width: 40rem;
  }
}

.carousel__wrap {
  position: relative;
}

/* フレーム */
.carousel__frame {
  padding: 33.33%;
  overflow: hidden;
}

/* 各パネルの中身 = コンテンツ (divかaを想定) */
.carousel__content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  &[aria-hidden="false"] {
    z-index: 1;
    opacity: 1;
    transition: var(--carousel-switch-effect);
    @include settings.mq(dt) {
      &:hover {
        opacity: .92;
        transition: var(--in-transition);
      }
    }
    &:focus {
      opacity: .92;
      transition: var(--in-transition);
    }
  }
  &[aria-hidden="true"] {
    transition: var(--carousel-fade);
  }
}

/* コンテンツ画像 */
.carousel__img {
  width: 100%;
  height: 100%;
}

/* カルーセル アニメーション ※必要に応じてご利用ください */
// .carousel__img.is-motioned {
//   animation: carouselImgMotion 4s linear 0s 1 normal;
//   transform: translate3d(0, 0, 0) scale(1);
// }

// @keyframes carouselImgMotion {
//   0% { transform: scale(1.075); }
//   75% { transform: translate3d(0, 0, 0) scale(1);}
// }

/*
 * コントローラー群 - 前へナビ、次へナビ、再生ボタン、停止ボタン
 * 拡張性担保のため、classセレクタ名は一意にしている
 */
.carousel__control-pause,
.carousel__control-play,
.carousel__control-next,
.carousel__control-prev {
  position: absolute;
  padding: .1rem .5rem;
  text-align: center;
}

.carousel__control-next,
.carousel__control-prev {
  top: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  transform: translateY(-50%);
  transition: var(--out-transition);
  @include settings.mq(dt) {
    &:hover {
      transition: var(--in-transition);
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    border-style: solid;
    backface-visibility: hidden;
    @include settings.mq(sp-tb) {
      width: 1.25rem;
      height: 1.25rem;
      border-color: var(--white);
      border-width: 0 2px 2px 0;
    }
    @include settings.mq(dt) {
      width: 1.5625rem;
      height: 1.5625rem;
      border-color: var(--border-color);
      border-width: 0 3px 3px 0;
    }
  }
  &:focus {
    transition: var(--in-transition);
  }
}

.carousel__control-pause,
.carousel__control-play {
  z-index: 2;
  width: 3rem;
  height: 2.5em;
  border: 1px solid #bbb;
  border-radius: 2px;
  @include settings.mq(sp-tb) {
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
  @include settings.mq(dt) {
    right: 2%;
    bottom: 3%;
    &:hover {
      background-color: var(--contrast-limit-gray);
    }
  }
  &[aria-hidden="true"] {
    z-index: 0;
    visibility: hidden;
  }
  &[aria-hidden="false"] {
    visibility: visible;
  }
  &:focus {
    background-color: var(--contrast-limit-gray);
  }
}

/* 前へナビ */
.carousel__control-prev {
  transition: all .3s var(--ease-out-quad);
  @include settings.mq(sp-tb) {
    left: .2rem;
    z-index: 1;
  }
  @include settings.mq(dt) {
    left: -2.2rem;
    &:hover {
      transform: translate(-10%, -50%) rotate(0);
      transition: all .25s var(--ease-in-quad);
    }
  }
  &:before {
    transform: translate(0, -50%) rotate(135deg);
  }
}

/* 次へナビ */
.carousel__control-next {
  transition: transform .3s var(--ease-out-quad);
  @include settings.mq(sp-tb) {
    right: -.3rem;
    z-index: 1;
  }
  @include settings.mq(dt) {
    right: -2.2rem;
    &:hover {
      transform: translate(10%, -50%) rotate(0);
      transition: transform .25s var(--ease-in-quad);
    }
  }
  &:before {
    transform: translate(0, -50%) rotate(-45deg);
  }
}

/* 再生ボタン */
.carousel__control-play {
  @include settings.mq(sp-tb) {
    background: #999 url(../img/img_play.png) 53% center no-repeat;
  }
  @include settings.mq(dt) {
    background: #999 url(../img/img_play.png) 56% center no-repeat;
  }
}

/* 停止ボタン */
.carousel__control-pause {
  background: #999 url(../img/img_pause.png) 50% center no-repeat;
}

/* インジケーターもしくはサムネイルのコンテナー(リスト) */
.carousel__thumbnail-list {
  display: grid;
  justify-content: center;
  width: 100%;
  @include settings.mq(sp) {
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    margin-top: .8rem;
  }
  @include settings.mq(tb-dth) {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 15%);
    margin-top: 1rem;
  }
}

/* インジケーター・サムネイル ボタン */
.carousel__thumbnail-btn {
  width: 100%;
  height: auto;
  @include settings.mq(dt) {
    &:hover {
      opacity: 1;
      transition: opacity .25s var(--ease-in-quad);
      outline: .125rem solid var(--focusring-color);
      outline-offset: .0625rem;
    }
  }
  &[aria-selected="false"] {
    opacity: .8;
    transition: opacity .3s var(--ease-out-quad);
  }
  &[aria-selected="true"] {
    opacity: 1;
    outline: .2rem solid hsla(212, 100%, 57%, 1);
    outline-offset: 0;
  }
  &:focus {
    opacity: 1;
    transition: opacity .25s var(--ease-in-quad);
  }
}

/* サムネイル画像(img) */
.carousel__thumbnail-img {
  width: 100%;
}