@use "../../base/setting";

.tab-ui {
  position: relative;
  width: 100%;
  margin: auto;
  @include setting.mq(tb-dth) {
    max-width: 60rem;
  }
}
.tab-ui__heading {
  margin: 0 auto 1rem;
}
.tablist {
  display: flex;
  width: auto;
}
/* タブの隣接部分のborderが太くなることが許せない人向け */
/* .tablist>li:not(:first-of-type) .tab {
  margin-left: -1px;
} */
.tab {
  display: inline-block;
  padding: 0.65rem 1rem;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  text-align: center;
  text-decoration: none;
  color: var(--black);
  border-radius: 5px 5px 0 0;
  @include setting.mq(tb-dth) {
    width: auto;
    min-width: 12rem;
    /* タブのhover/focus状態スタイル */
    &:hover,
    &:focus {
      background: hsla(0, 0%, 47%, 1);
      color: var(--white);
      /* fade-in effect */
      /* transition: background-color .25s ease, color .25s ease; */
    }
  }
  @include setting.mq(sp) {
    width: 100%;
  }
  /* fade-out effect */
  /* transition: background-color .3s ease, color .3s ease; */

  /* 選択されているタブのスタイル */
  &[aria-selected] {
    background: var(--black);
    color: var(--white);
  }
}
@include setting.mq(sp) {
  .tablist > li {
    width: 33.33333%;
  }
}
.tabpanel-wrap {
  width: 100%;
  height: fit-content;
  min-height: 150px;
  border: 1px solid var(--border-color);
  color: var(--black);
  overflow: hidden;
}
.tabpanel {
  z-index: 0;
  width: 100%;
  padding: 1rem 2rem 2.5rem;
  &:focus {
    outline: none;
  }
  &[aria-hidden="false"] {
    display: inline-block;
  }
  &[aria-hidden="true"] {
    display: none;
  }
}
.tabpanel__list > li {
  margin: 0.8rem auto auto;
}
.tabpanel__paragraph {
  margin: 1.4rem auto 0;
}
.tabpanel__link {
  display: inline-block;
  width: auto;
  margin: 1.4rem auto 0;
}
.other-content {
  width: 100%;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 1px solid var(--black);
}
