@use "../../base/setting";

html[data-whatinput][data-whatintent] {
  overflow-x: hidden;
}

.toast-trigger {
  display: block;
  width: 100%;
  max-width: 300px;
  min-width: fit-content;
  margin: 4rem auto;
  padding: 0.85rem 1rem 0.75rem;
  border: 1px solid var(--border-color);
  text-align: center;
  line-height: 1.6;
  font-size: 1.15rem;
  border-radius: 10rem;
  &:hover,
  [data-whatintent="keyboard"] &:focus {
    background-color: hsla(0, 0%, 47%, 1);
    color: var(--white);
  }
  + .selectbox-container.-pulldown:after {
    content: none;
  }
}

.toast {
  width: fit-content;
  &[aria-hidden="false"] {
    display: block;
    position: relative;
    top: 10vh;
    right: 0;
    width: fit-content;
    max-width: 90%;
    margin: auto;
    border: 1px solid var(--border-color);
    background-color: hsla(0, 0%, 90%, 1);
    border-radius: 0.25rem;
    animation: fade-in 0.25s var(--ease-in-cubic);
    &.is-bottom-right {
      right: 5%;
      transition: right 0.85s var(--ease-out-cubic);
      margin: {
        right: 0;
        left: auto;
      }
    }
    &.is-bottom-left {
      left: -5%;
      transition: left 0.85s var(--ease-out-cubic);
      margin: {
        right: auto;
        left: 0;
      }
    }
    &.is-upper-right {
      top: initial;
      right: 5%;
      bottom: 300px;
      transition: right 0.85s var(--ease-out-cubic);
      margin: {
        right: 0;
        left: auto;
      }
    }
    &.is-upper-left {
      top: initial;
      bottom: 300px;
      left: -5%;
      transition: left 0.85s var(--ease-out-cubic);
      margin: {
        right: auto;
        left: 0;
      }
    }
  }
  &[aria-hidden="true"] {
    display: none;
    border: 1px solid var(--border-color);
    background-color: hsla(0, 0%, 90%, 1);
    &.is-bottom-right {
      display: block;
      position: relative;
      top: 10vh;
      right: -100%;
      transition: right 0.6s var(--ease-in-cubic);
      margin: {
        right: 0;
        left: auto;
      }
    }
    &.is-bottom-left {
      display: block;
      position: relative;
      top: 10vh;
      left: -100%;
      transition: left 0.6s var(--ease-in-cubic);
      margin: {
        right: auto;
        left: 0;
      }
    }
    &.is-upper-right {
      display: block;
      position: relative;
      right: -100%;
      bottom: 300px;
      transition: right 0.6s var(--ease-in-cubic);
      margin: {
        right: 0;
        left: auto;
      }
    }
    &.is-upper-left {
      display: block;
      position: relative;
      bottom: 300px;
      left: -100%;
      transition: left 0.6s var(--ease-in-cubic);
      margin: {
        right: auto;
        left: 0;
      }
    }
  }
  &.is-invisible {
    animation: fade-out 0.5s var(--ease-in-cubic);
    &.is-bottom-right,
    &.is-bottom-left,
    &.is-upper-right,
    &.is-upper-left {
      animation: unset;
    }
  }
  > .text {
    padding: 0.5rem 1rem 0.45rem;
    text-align: center;
    font-weight: bold;
  }
  .supplement-line {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    padding-top: 2px;
    border-top: 1px solid var(--border-color);
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.15rem 0.6rem 1.2rem 1.4rem;
    font-size: 1.2rem;
    &:hover,
    &:focus {
      font-weight: bold;
    }
  }
}
