.toast-trigger {
  display: block;
  width: 100%;
  max-width: 300px;
  min-width: fit-content;
  margin: 4rem auto;
  padding: .85rem 1rem .75rem;
  border: 1px solid var(--border-color);
  text-align: center;
  line-height: 1.6;
  font-size: 1.15rem;
  border-radius: 10rem;
  &:hover,
  [data-whatintent="keyboard"] &:focus {
    background-color: #777;
    color: var(--white);
  }
}

.toast {
  &[aria-hidden="false"] {
    display: block;
    position: relative;
    top: 10vh;
    right: 0;
    width: fit-content;
    max-width: 90%;
    margin: auto;
    background-color: var(--white);
    border-radius: .25rem;
    border: 1px solid var(--border-color);
    animation: fade-in .25s var(--ease-in-cubic);
  }
  &[aria-hidden="true"] {
    display: none;
  }
  &.is-invisible {
    animation: fade-out .5s var(--ease-in-cubic);
  }
  > .text {
    padding: .5rem  1rem .45rem;
    text-align: center;
    font-weight: bold;
  }
  .supplement-line {
    display: inline-block;
    width: 100%;
    border-top: 1px solid var(--border-color);
    margin-top: 3px;
    padding-top: 2px;
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: .15rem .6rem 1.2rem 1.4rem;
    font-size: 1.2rem;
    &:hover,
    &:focus {
      font-weight: bold;
    }
  }
}