<main class="main-wrapper">
  <p id="js-anime-target" class="move-text">
    A new production
    Hello...
  </p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="{{ path '/js/vendor/moving-text.js' }}"></script>
</main>