.move-text {
  text-transform: uppercase;
  line-height: 5rem;
  font-size: calc(var(--font-size-l3));
  font-weight: bold;
}

.move-text .letter {
  display: inline-block;
  letter-spacing: .5em;
  opacity: 1;
}