@use "../../base/settings";

.smooth-scroll {
  @media all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
    .container {
      max-width: none;
    }
  }
  .header {
    position: relative;
    padding: {
      top: 3rem;
      bottom: 2rem;
    }
    background-color: #eee;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 1px 10px rgb(0 0 0 / 35%);
  }
  .container {
    display: flex;
    width: 100%;
    max-width: 80rem;
    gap :2rem;
    @include settings.mq(tb-dth) {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    @include settings.mq(sp-tb) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      width: 90vw;
    }
  }
  .main {
    min-width: 80%;
  }
  .section-wrap {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .section {
    list-style-type: none;
    width: auto;
    margin-bottom: 5rem;
    padding: 3.5rem 4rem;
    border: 1px solid #111;
    font-size: 1rem;
    p {
      margin-bottom: 1rem;
    }
    a {
      display: inline-block;
    }
  }

  .section:focus {
    outline: none;
  }
  .aside {
    min-width: 20%;
  }
  .toc {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    width: 100%;
    padding: 1.5rem 2rem;
    border: 1px solid var(--black);
    background: #b5e9f7;
    text-align: center;
    line-height: 3;
  }
  .toc__link.is-current,
  .toc__link:hover,
  .toc__link:focus {
    text-decoration: none;
    font-weight: bold;
  }
  .footer {
    position: relative;
    height: 15rem;
    padding-top: 6rem;
    background-color: #eee;
    text-align: center;
    font-size: 3rem;
  }
  .back-to-top {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3rem;
    right: 8%;
    width: 6rem;
    height: 3rem;
    padding-top: .5rem;
    background-color: #ccc;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5rem 5rem 0 0;
  }
  .footer + div {
    left: 3rem;
    width: 20rem;
  }
}