.typewriter-cycle {
  display: inline-block;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  & li:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }
  & li:first-child typewritten-text {
    visibility: visible;
  }
}

typewritten-text {
  font-weight: bold;
  &[paused] {
    visibility: hidden;
  }
  &.active {
    visibility: visible;
  }
  &:not(.active) .typewritten-text_start::after {
    visibility: hidden;
  }
}

.typewriter-section {
  position: relative;
  max-width: 80vh;
  margin: 0 0 1rem;
  padding: 1.5em 1rem 3rem;
  border: 0.0625em solid hsla(211, 69%, 57%, 1);
  background-color: hsla(0, 0%, 100%, 1);
  font-size: 1rem;
  box-shadow: 0.125em 0.125em 0.25em hsla(0, 0%, 0%, 0.15) inset;
}
