<main class="main-wrapper">
  <h2 class="heading2">- Normal Unordered</h2>
  <ul class="list -itemized">
    <li>パターンライブラリ&nbsp;&amp;&nbsp;スタイルガイド
      <a href="https://ishimasar.github.io/pattern-library/dest/" class="link">https://ishimasar.github.io/pattern-library/dest/</a>
      <a href="https://ishimasar.github.io/pattern-library/" class="link">https://ishimasar.github.io/pattern-library/</a>
    </li>
    <li>コーディングガイドライン
      <a href="https://ishimasar.github.io/coding-guidelines/" class="link">https://ishimasar.github.io/coding-guidelines/</a>
    </li>
    <li>Code for Mitaka / Musashino
      <a href="https://code4mm.org/" target="_blank" rel="noopener" class="link">https://code4mm.org/
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
          <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
        </svg>
      </a>
    </li>
    <li>WordPressコミュニティ
      <ul>
        <li>三鷹・吉祥寺 WordPress Meetup (Tokyo WordPress Meetup 共同オーガナイザー)
          <a href="https://www.meetup.com/ja-JP/Tokyo-WordPress-Meetup/" target="_blank" rel="noopener" class="link">https://www.meetup.com/ja-JP/Tokyo-WordPress-Meetup/
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
              <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
            </svg>
          </a>
        </li>
        <li>do_action Japan 2020
          <a href="https://doaction.org/ja/event/japan-2020/" target="_blank" rel="noopener" class="link">https://doaction.org/ja/event/japan-2020/
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
              <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
            </svg>
          </a>
          <ul>
            <li>
              do_action とは
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>アクセシビリティ基盤委員会（WAIC） WG4 翻訳作業協力</li>
  </ul>
  <div class="divider" role="separator"></div>
  <h2 class="heading2">- Normal Ordered</h2>
  <ol class="list -ordered">
    <li>パターンライブラリ&nbsp;&amp;&nbsp;スタイルガイド
      <a href="https://ishimasar.github.io/pattern-library/dest/" class="link">https://ishimasar.github.io/pattern-library/dest/</a>
      <a href="https://ishimasar.github.io/pattern-library/" class="link">https://ishimasar.github.io/pattern-library/</a>
    </li>
    <li>コーディングガイドライン
      <a href="https://ishimasar.github.io/coding-guidelines/" class="link">https://ishimasar.github.io/coding-guidelines/</a>
    </li>
    <li>Code for Mitaka / Musashino
      <a href="https://code4mm.org/" target="_blank" rel="noopener" class="link">https://code4mm.org/
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
          <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
        </svg>
      </a>
    </li>
    <li>WordPressコミュニティ
      <ol>
        <li>三鷹・吉祥寺 WordPress Meetup (Tokyo WordPress Meetup 共同オーガナイザー)
          <a href="https://www.meetup.com/ja-JP/Tokyo-WordPress-Meetup/" target="_blank" rel="noopener" class="link">https://www.meetup.com/ja-JP/Tokyo-WordPress-Meetup/
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
              <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
            </svg>
          </a>
        </li>
        <li>do_action Japan 2020
          <a href="https://doaction.org/ja/event/japan-2020/" target="_blank" rel="noopener" class="link">https://doaction.org/ja/event/japan-2020/
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
              <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
            </svg>
          </a>
          <ol>
            <li>
              do_action とは
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>アクセシビリティ基盤委員会（WAIC） WG4 翻訳作業協力</li>
  </ol>
  <div class="divider" role="separator"></div>
  <h2 class="heading2">- Decorated</h2>
  <ul class="list -decorative-image">
    <li>
      参照background-imageプロパティを、変更することでお好みのリストマーカー画像を使えます
    </li>
    <li>パターンライブラリ&nbsp;&amp;&nbsp;スタイルガイド
      <a href="https://ishimasar.github.io/pattern-library/dest/" class="link">https://ishimasar.github.io/pattern-library/dest/</a>
      <a href="https://ishimasar.github.io/pattern-library/" class="link">https://ishimasar.github.io/pattern-library/</a>
    </li>
    <li>コーディングガイドライン
      <a href="https://ishimasar.github.io/coding-guidelines/" class="link">https://ishimasar.github.io/coding-guidelines/</a>
    </li>
    <li>Code for Mitaka / Musashino
      <a href="https://code4mm.org/" target="_blank" rel="noopener" class="link">https://code4mm.org/
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
          <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
        </svg>
      </a>
    </li>
    <li>WordPressコミュニティ
      <ul>
        <li>三鷹・吉祥寺 WordPress Meetup (Tokyo WordPress Meetup 共同オーガナイザー)
          <a href="https://www.meetup.com/ja-JP/Tokyo-WordPress-Meetup/" target="_blank" rel="noopener" class="link">https://www.meetup.com/ja-JP/Tokyo-WordPress-Meetup/
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
              <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
            </svg>
          </a>
        </li>
        <li>do_action Japan 2020
          <a href="https://doaction.org/ja/event/japan-2020/" target="_blank" rel="noopener" class="link">https://doaction.org/ja/event/japan-2020/
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
              <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
            </svg>
          </a>
          <ul>
            <li>
              do_action とは
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>アクセシビリティ基盤委員会（WAIC） WG4 翻訳作業協力</li>
  </ul>
</main>

<script src="{{ path '/js/vendor/prism.js' }}"></script>