.list {
  margin-left: 1.7rem;
  line-height: 1.8;
}
.list.-itemized {
  list-style: disc;
  font-family: var(--common-font);
}
.list.-itemized ul {
  list-style: circle;
  margin-left: 1.7em;
}
.list.-itemized ul ul {
  list-style: square;
  margin-left: 1.7em;
}
.list.-ordered {
  list-style: decimal;
}
.list.-ordered ol {
  list-style: inherit;
  margin-left: 1.7em;
}
.list.-ordered ol ol {
  margin-left: 1.7em;
}
.list li {
  margin-top: .8rem;
}
.list li > * {
  display: block;
  margin-top: .4rem;
}
.list li ul {
  margin-top: .3rem;
}
.list li ul ul {
  margin-top: .6rem;
}
.list.-decorated-triangle {
  list-style: none;
}
.list.-decorated-triangle li {
  padding-left: 1em;
  text-indent: -1em;
}
.list.-decorated-triangle li:before {
  content: "";
  display: block;
  display: inline-block;
  width: 0;
  height: 0;
  padding-right: .25em;
  border-top: 5px transparent solid;
  border-right: 0 transparent solid;
  border-bottom: 5px transparent solid;
  border-left: 8px var(--black) solid;
  border-style: solid;
  transition: transform cubic-bezier(.215, .61, .355, 1) .15s, border-color cubic-bezier(.215, .61, .355, 1) .15s;
}
.list.-decorated-triangle li ul {
  margin-left: 1.7em;
}
.list.-decorated-triangle li ul ul {
  margin-left: 1.7em;
}
.list .link {
  display: block;
  width: fit-content;
  text-decoration: underline;
  text-indent: 0;
}
.list .link:hover, .list .link:focus {
  text-decoration: none;
}
.list .link > .icon {
  margin-left: .2rem;
  font-size: calc(var(--font-size-m1));
}