<main class="main-wrapper">
  <ul class="stepper-indicater">
    <li><button class="indicater" aria-current="step"></button></li>
    <li><button class="indicater"></button></li>
    <li><button class="indicater"></button></li>
  </ul>
</main>