<main class="main-wrapper">
  <p class="progress-label">In progress...</p>
  <div class="progress-container">
    <progress id="load" class="progress" max="100" value="85">85%</progress>
  </div>
</main>