/* HTML詳細折りたたみ要素(details, summary) */
details {
  background-color: beige;
  margin-top: 18px;
  padding: 20px 28px 20px 30px;
}

.details__summary {
  font-family: $headFontDt;
  font-size: $fontSizeL1;
  font-feature-settings: "pkna";
}

.details__ordered-list {
  margin-bottom: 25px;
  padding-left: 23px;
  list-style: decimal;
  font-family: $sentenceFontDt;
  // font-feature-settings: "pkna";
}

.details__ordered-item,
.details__progress-label,
.details__paragraph {
  font-size: $fontSizeM2;
  line-height: 1.8;
  margin-top: 10px;
}

.details__progress-label {
  font-family: $numberFontA;
  // font-family: $numberFontB;
}

.details__progress {
  width: 70%;
  margin-left: 20px;
  vertical-align: middle;
}

.details__paragraph {
  margin-top: 25px;
  font-family: $headFontDt;
  font-feature-settings: "pkna";
}
