<main class="main-wrapper">
  <div id="top" class="js-smooth-scroll toc-container">
    <span class="toc-title">目次</span>
    <details class="toc-open">
      <summary><span class="summary-text">[ 開く ]</span></summary>
      <ul class="toc">
        <li>
          <a href="#prologue" class="toc__link">はじめに</a>
        </li>
        <li>
          <a href="#middle" class="toc__link">中間に</a>
        </li>
        <li>
          <a href="#epilogue" class="toc__link">おわりに</a>
        </li>
      </ul>
    </details>
  </div>
  <section id="prologue" class="section" style="margin-top:15rem;text-align: center;">
    <h2>はじめに</h2>
    <p></p>
  </section>
  <section id="middle" class="section" style="margin-top:15rem;text-align: center;">
    <h2>中間に</h2>
    <p></p>
  </section>
  <section id="epilogue" class="section" style="margin-top:15rem;text-align: center;">
    <h2>おわりに</h2>
    <p></p>
  </section>
  <div class="js-smooth-scroll back-to-top-container -text"style="margin-top:15rem;text-align: center;">
    <a href="#top" class="back-to-top">ページトップへ↑</a>
  </div>
</main>