@use "../../base/setting";

// 画面サイズ(デバイスサイズ)に応じ、
// 以下条件に当てはまる場合に適用要素を表示し、
// それ以外の場合を非表示にする

// 画面サイズ767px以下(スマートフォン想定)のとき
.display-sp {
  @include setting.mq(tb-dth) {
    display: none;
  }
  @include setting.mq(sp) {
    display: inline-block;
  }
}

// 画面サイズ1024px以下(スマホ~タブレット想定)のとき
.display-sptb {
  @include setting.mq(dt) {
    display: none;
  }
  @include setting.mq(sp-tb) {
    display: inline-block;
  }
}

// 画面サイズ768px以上(タブレット~デスクトップ想定)のとき
.display-tbdt {
  @include setting.mq(dt) {
    display: block;
  }
  @include setting.mq(tb) {
    display: block;
  }
  @include setting.mq(sp) {
    display: none;
  }
}

// 画面サイズ1025px以上(デスクトップ全般想定)のとき
.display-dt {
  @include setting.mq(dt) {
    display: block;
  }
  @include setting.mq(sp-tb) {
    display: none;
  }
}
