// ---

// ## helper
// 命名規則：[margin,paddingの頭文字] + [top,right,bottom,left,allの頭文字] + [数値]
// 例）mt10 => margin-top:10px;
// 例）mt-10 => margin-top:-10px;

// margin, paddingの余白調整用

$sizes: 8;

@mixin margin-classes {
  @for $i from -3 through 6 {
    @if ($i != 0) {
      $margin: $i * 0.5;
      .ml#{$i * $sizes} {
        margin-left: $margin + rem;
      }
      // .mr#{$i * $sizes} { margin-right: $margin + rem; }
      .mt#{$i * $sizes} {
        margin-top: $margin + rem;
      }
      .mb#{$i * $sizes} {
        margin-bottom: $margin + rem;
      }
      // .mx#{$i * $sizes} {
      //   margin: {
      //     right: $margin + rem;
      //     left: $margin + rem;
      //   }
      .my#{$i * $sizes} {
        margin: {
          top: $margin + rem;
          bottom: $margin + rem;
        }
      }
      // .ma#{$i * $sizes} {
      //   margin: {
      //     top: $margin + rem;
      //     right: $margin + rem;
      //     bottom: $margin + rem;
      //     left: $margin + rem;
      //   }
      // }
    } @else {
      $margin: 0;
      .ml#{$i * $sizes} {
        margin-left: $margin;
      }
      // .mr#{$i * $sizes} { margin-right: $margin; }
      .mt#{$i * $sizes} {
        margin-top: $margin;
      }
      .mb#{$i * $sizes} {
        margin-bottom: $margin;
      }
      // .mx#{$i * $sizes} {
      //   margin: {
      //     right: $margin;
      //     left: $margin;
      //   }
      .my#{$i * $sizes} {
        margin: {
          top: $margin;
          bottom: $margin;
        }
      }
      // .ma#{$i * $sizes} {
      //   margin: {
      //     top: $margin;
      //     right: $margin;
      //     bottom: $margin;
      //     left: $margin;
      //   }
      // }
    }
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through 6 {
    $padding: $i * 0.5;
    .pl#{$i * $sizes} {
      padding-left: $padding + rem;
    }
    //  .pr#{$i * $sizes} {padding-right: $padding + rem;}
    .pt#{$i * $sizes} {
      padding-top: $padding + rem;
    }
    //  .pb#{$i * $sizes} {padding-bottom: $padding + rem;}
  }
}
@include padding-classes;

/* 視覚的に非表示にしスクリーンリーダーには読ませる。SEO/アクセシビリティ対応 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
