

<div class="accordion-wrap">
  <ul class="accordion-list" role="tree">
    <li role="treeitem">
      <details class="accordion-details" aria-expanded="false">
        <summary>リスト項目1</summary>
        <div class="accordion-details__content">
          <p class="accordion-details__paragraph">リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1リスト内容1</p>
        </div>
      </details>
    </li>
    <li role="treeitem">
      <details class="accordion-details" aria-expanded="false">
        <summary>リスト項目2</summary>
        <div class="accordion-details__content">
          <p class="accordion-details__paragraph">リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2リスト内容2</p>
        </div>
      </details>
    </li>
    <li role="treeitem">
      <details class="accordion-details" aria-expanded="false">
        <summary>リスト項目3</summary>
        <div class="accordion-details__content">
          <p class="accordion-details__paragraph">リスト内容3リスト内容3リスト内容3リスト内容3リスト内容3リスト内容3</p>
        </div>
      </details>
    </li>
    <li role="treeitem">
      <details class="accordion-details" aria-expanded="false">
        <summary>リスト項目4</summary>
        <div class="accordion-details__content">
          <p class="accordion-details__paragraph">リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4リスト内容4</p>
        </div>
      </details>
    </li>
    <li role="treeitem">
      <details class="accordion-details" aria-expanded="false">
        <summary>リスト項目5</summary>
        <div class="accordion-details__content">
          <p class="accordion-details__paragraph">リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5リスト内容5</p>
        </div>
      </details>
    </li>
  </ul>
  <div class="accordion-button-box">
    <button type="button" id="all-open" class="accordion-all-button">すべて開く</button>
    <button type="button" id="all-close" class="accordion-all-button">すべて閉じる</button>
  </div>
</div>
