

<main class="main-wrapper">
  <div class="avatar -full">
    <img
      src="https://placehold.jp/0f6bff/ffffff/x.png?text=photo"
      class="profile-photo"
      alt="プロフィール写真"
      width="80"
      height="80"
      decoding="async"
    />
    <div class="text-wrapper">
      <div class="name">ダミー ネーム</div>
      <p class="introduction">
        私の名前はダミー ネームです。フリーの制作者です。19xx年x月x日生まれ。どうぞよろしくお願いします。
        <br class="display-sp" />写真もダミー。
        <a href="https://www.drifting-clouds.com/" class="link">drifting-clouds.com</a>
      </p>
    </div>
  </div>
  <div class="avatar -half mt24">
    <img
      src="https://placehold.jp/0f6bff/ffffff/x.png?text=photo"
      class="profile-photo"
      alt="プロフィール写真"
      width="80"
      height="80"
      decoding="async"
    />
    <div class="text-wrapper">
      <div class="name">ダミー ネーム</div>
      <p class="introduction">
        私の名前はダミー ネームです。フリーの制作者です。19xx年x月x日生まれ。どうぞよろしくお願いします。
        <br class="display-sp" />写真もダミー。
        <a href="https://www.drifting-clouds.com/" class="link">drifting-clouds.com</a>
      </p>
    </div>
  </div>
  <div class="avatar -one-third mt24">
    <img
      src="https://placehold.jp/0f6bff/ffffff/x.png?text=photo"
      class="profile-photo"
      alt="プロフィール写真"
      width="80"
      height="80"
      decoding="async"
    />
    <div class="text-wrapper">
      <div class="name">ダミー ネーム</div>
      <p class="introduction">
        私の名前はダミー ネームです。フリーの制作者です。19xx年x月x日生まれ。どうぞよろしくお願いします。<br
          class="display-sp"
        />写真もダミー。
        <a href="https://www.drifting-clouds.com/" class="link">drifting-clouds.com</a>
      </p>
    </div>
  </div>
</main>
