

<main role="main" class="main-wrapper">
  <article class="article-container">
    <section>
      <h2 class="heading2">- Text</h2>
      <p class="body-text -paragraph">
        HTMLでマークアップをした際に「そのコード群/UIパーツが検証してみて、意味を持っているか？=セマンティックであるか？」がWAI-ARIAで補完すべきかどうかの判断基準だと思います。<br>
      </p>
    </section>
    <div class="divider" role="separator"></div>
    <section>
      <h2 class="heading2">- Link</h2>
      <p class="body-text">
        <a href="https://www.drifting-clouds.com" target="_blank" rel="noopener" class="link" title="外部リンク">https://www.drifting-clouds.com</a>
        <a href="https://www.drifting-clouds.com" target="_blank" rel="noopener" class="link -icon2" title="外部リンク">https://www.drifting-clouds.com
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" role="img">
            <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
          </svg>
        </a>
      </p>
    </section>
    <div class="divider" role="separator"></div>
    <section>
      <h2 class="heading2">- Inline Code</h2>
      <p class="body-text">
        <code class="language-markup">
          <span class="token tag">
            <span class="token punctuation">
              &lt;code class="language-html"&gt;コード&lt;/code&gt;
            </span>
          </span>
        </code>
      </p>
    </section>
    <div class="divider" role="separator"></div>
    <section>
      <h2 class="heading2">- Highlight</h2>
      <p>
        <mark>
          ハイライト (Highlight)
        </mark>
      </p>
    </section>
    <div class="divider" role="separator"></div>
    <section>
      <h2 class="heading2">- Shortcut</h2>
      <p class="body-text">
        このツールでの当該操作のショートカットキーは <span class="shortcut">Shift</span> + <span class="shortcut">Command</span> + <span class="shortcut">↑</span> です。
      </p>
    </section>
  </article>
</main>

<script src="../../js/vendor/prism.js"></script>
