

<h2 class="heading2">- Normal Unordered</h2>
<ul class="list -itemized">
  <li>パターンライブラリ&nbsp;&amp;&nbsp;スタイルガイド　* 随時追加作成・整備中
    <a href="https://ishimasar.github.io/pattern-library/dest/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/pattern-library/dest/</a>
    <a href="https://ishimasar.github.io/pattern-library/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/pattern-library/</a>
  </li>
  <li>コーディングガイドライン　* 現状、項目のみ作成
    <a href="https://ishimasar.github.io/coding-guidelines/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/coding-guidelines/</a>
  </li>
  <li>Code for Mitaka / Musashino</li>
  <li>WordPressコミュニティ
    <ul>
      <li>三鷹・吉祥寺 WordPress Meetup (Tokyo WordPress Meetup 共同オーガナイザー)
        <a href="https://ishimasar.github.io/coding-guidelines/" target="_blank" rel="noopener" class="link">https://hoge.com</a>
      </li>
      <li>hogehogefugafuga
        <ul>
          <li>fugafugahogehoge
            <div>ああああ</div>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>アクセシビリティ基盤委員会（WAIC） WG4 翻訳作業協力</li>
</ul>
<hr>
<h2 class="heading2">- Normal Ordered</h2>
<ol class="list -ordered">
  <li>パターンライブラリ&nbsp;&amp;&nbsp;スタイルガイド　* 随時追加作成・整備中
    <a href="https://ishimasar.github.io/pattern-library/dest/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/pattern-library/dest/</a>
    <a href="https://ishimasar.github.io/pattern-library/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/pattern-library/</a>
  </li>
  <li>コーディングガイドライン　* 現状、項目のみ作成
    <a href="https://ishimasar.github.io/coding-guidelines/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/coding-guidelines/</a>
  </li>
  <li>Code for Mitaka / Musashino</li>
  <li>WordPressコミュニティ
    <ol>
      <li>三鷹・吉祥寺 WordPress Meetup (Tokyo WordPress Meetup 共同オーガナイザー)
        <a href="https://ishimasar.github.io/coding-guidelines/" target="_blank" rel="noopener" class="link">https://hoge.com</a>
      </li>
      <li>hogehogefugafuga
        <ol>
          <li>fugafugahogehoge
            <div>いいいい</div>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>アクセシビリティ基盤委員会（WAIC） WG4 翻訳作業協力</li>
</ol>
<hr>
<h2 class="heading2">- Decorated</h2>
