

<h2>■ Normal (disc, circle)</h2>
<ul class="geList -disc">
  <li>パターンライブラリ&nbsp;&amp;&nbsp;スタイルガイド　* 随時追加作成・整備中
    <div>
      <a href="https://ishimasar.github.io/pattern-library/dest/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/pattern-library/dest/</a>
    </div>
    <div>
      <a href="https://ishimasar.github.io/pattern-library/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/pattern-library/</a>
    </div>
  </li>
  <li>コーディングガイドライン　* 現状、項目のみ作成
    <div>
      <a href="https://ishimasar.github.io/coding-guidelines/" target="_blank" rel="noopener" class="link">https://ishimasar.github.io/coding-guidelines/</a>
    </div>
  </li>
  <li>Code for Mitaka / Musashino</li>
  <li>WordPressコミュニティ
    <ul>
      <li>三鷹・吉祥寺 WordPress Meetup (Tokyo WordPress Meetup 共同オーガナイザー)
        <div>
          <a href="https://ishimasar.github.io/coding-guidelines/" target="_blank" rel="noopener" class="link">https://hoge.com</a>
        </div>
      </li>
      <li>hogehogefugafuga<div></div>
      </li>
    </ul>
  </li>
  <li>アクセシビリティ基盤委員会（WAIC） WG4 翻訳作業協力</li></ul>
</ul>
<hr>
<h2>■ Decorated</h2>
