

<main class="main-wrapper ">
  <h2 class="heading2">Progress bar for loading status (Under development)</h2>
  <div class="progress-wrapper" aria-live="polite">
    <div id="progresslabel" class="progress-label">0%</div>
    <div class="progress-container">
      <div class="progress-frame">
        <div
          class="progressbar"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          aria-labelledby="progresslabel"
        ></div>
      </div>
    </div>
  </div>
</main>
