

<main class="main-wrapper">
  <div class="stepper-indicater">
    <button class="indicater js-step" aria-current="step" aria-controls="step1"></button>
    <div class="connect"></div>
    <button class="indicater js-step" aria-controls="step2"></button>
    <div class="connect"></div>
    <button class="indicater js-step" aria-controls="step3"></button>
  </div>
  <div class="stepper-contents-container">
    <div id="step1" class="stepper-contents" aria-hidden="false">
      <h2 class="label heading2">Step1</h2>
      <div class="control">
        <button class="control-back js-stepper-back" aria-hidden="true">BACK</button>
        <button class="control-next js-stepper-next">NEXT</button>
      </div>
    </div>
    <div id="step2" class="stepper-contents" aria-hidden="true">
      <h2 class="label heading2">Step2</h2>
      <div class="control">
        <button class="control-back js-stepper-back">BACK</button>
        <button class="control-next js-stepper-next">NEXT</button>
      </div>
    </div>
    <div id="step3" class="stepper-contents" aria-hidden="true">
      <h2 class="label heading2">Step3</h2>
      <div class="control">
        <button class="control-back js-stepper-back">BACK</button>
        <button class="control-next js-stepper-next" aria-hidden="true">NEXT</button>
      </div>
    </div>
  </div>
</main>
