

<link rel="stylesheet" href="https://unpkg.com/@auroratide/typewritten-text/lib/style.css" />
<script type="module" src="https://unpkg.com/@auroratide/typewritten-text/lib/define.js"></script>

<main class="main-wrapper">
  <section class="tt-section">
    <div class="sentence">
      <span>仮</span>
      <ul class="typewriter-cycle">
        <li><typewritten-text letter-interval="100">「どうもー！ども、ミルクボーイです」</typewritten-text></li>
        <li><typewritten-text paused letter-interval="100">「お願いしまーす！」</typewritten-text></li>
        <li><typewritten-text paused letter-interval="100">「あー、ありがとうございますー」</typewritten-text></li>
        <li><typewritten-text paused letter-interval="100">「今、ねるねるねるねの2の粉をいただきましたけれども」</typewritten-text></li>
        <li><typewritten-text paused letter-interval="100">「ありがとうございますねー。もー、こんなんなんぼあってもいいですからね」</typewritten-text></li>
      </ul>
    </div>
  </section>
</main>
