

<main class="main-wrapper">
  <h2 class="heading2">Shape</h2>
  <ul>
    <li>
      <span>・正円</span>
      <div class="circle-figure my24"></div>
    </li>
    <li class="mt32">
      <span>・三角形</span>
      <div class="my24">
        <div class="triangle-top"></div>
        <div class="triangle-right mt24"></div>
        <div class="triangle-bottom mt24"></div>
        <div class="triangle-left mt24"></div>
      </div>
    </li>
    <li class="mt32">
      <div>・棒なし矢印(インライン)</div>
      <div class="my24">
        <div class="shape-arrow-top"></div>
        <div class="shape-arrow-right mt24"></div>
        <div class="shape-arrow-bottom mt24"></div>
        <div class="shape-arrow-left mt24"></div>
      </div>
    </li>
    <li class="mt32">
      <span>・区切り線</span>
      <div class="divider my32" role="separator"></div>
    </li>
  </ul>
  <h2 class="heading2">Display</h2>
  <article class="display-sptb">
    <h3>
      画面幅0~1024pxでコンテンツ表示<br>
      スマートデバイス・タブレットを概ねカバー
    </h3>
  </article>
  <article class="display-dt">
    <h3>
      画面幅1024px以上でコンテンツ表示<br>
      デスクトップPC用モニターを概ねカバー
    </h3>
</main>
