.mt-4 {
  -webkit-margin-before: -4px !important;
  margin-block-start: -4px !important;
}

.mr-4 {
  -webkit-margin-end: -4px !important;
  margin-inline-end: -4px !important;
}

.mb-4 {
  -webkit-margin-after: -4px !important;
  margin-block-end: -4px !important;
}

.ml-4 {
  -webkit-margin-start: -4px !important;
  margin-inline-start: -4px !important;
}

.mt-2 {
  -webkit-margin-before: -2px !important;
  margin-block-start: -2px !important;
}

.mr-2 {
  -webkit-margin-end: -2px !important;
  margin-inline-end: -2px !important;
}

.mb-2 {
  -webkit-margin-after: -2px !important;
  margin-block-end: -2px !important;
}

.ml-2 {
  -webkit-margin-start: -2px !important;
  margin-inline-start: -2px !important;
}

.mt0 {
  -webkit-margin-before: 0px !important;
  margin-block-start: 0px !important;
}

.mr0 {
  -webkit-margin-end: 0px !important;
  margin-inline-end: 0px !important;
}

.mb0 {
  -webkit-margin-after: 0px !important;
  margin-block-end: 0px !important;
}

.ml0 {
  -webkit-margin-start: 0px !important;
  margin-inline-start: 0px !important;
}

.mt2 {
  -webkit-margin-before: 2px !important;
  margin-block-start: 2px !important;
}

.mr2 {
  -webkit-margin-end: 2px !important;
  margin-inline-end: 2px !important;
}

.mb2 {
  -webkit-margin-after: 2px !important;
  margin-block-end: 2px !important;
}

.ml2 {
  -webkit-margin-start: 2px !important;
  margin-inline-start: 2px !important;
}

.mt4 {
  -webkit-margin-before: 4px !important;
  margin-block-start: 4px !important;
}

.mr4 {
  -webkit-margin-end: 4px !important;
  margin-inline-end: 4px !important;
}

.mb4 {
  -webkit-margin-after: 4px !important;
  margin-block-end: 4px !important;
}

.ml4 {
  -webkit-margin-start: 4px !important;
  margin-inline-start: 4px !important;
}

.pt4 {
  -webkit-padding-before: 4px !important;
  padding-block-start: 4px !important;
}

.pr4 {
  -webkit-padding-end: 4px !important;
  padding-inline-end: 4px !important;
}

.pb4 {
  -webkit-padding-after: 4px !important;
  padding-block-end: 4px !important;
}

.pl4 {
  -webkit-padding-start: 4px !important;
  padding-inline-start: 4px !important;
}

.pt6 {
  -webkit-padding-before: 6px !important;
  padding-block-start: 6px !important;
}

.pr6 {
  -webkit-padding-end: 6px !important;
  padding-inline-end: 6px !important;
}

.pb6 {
  -webkit-padding-after: 6px !important;
  padding-block-end: 6px !important;
}

.pl6 {
  -webkit-padding-start: 6px !important;
  padding-inline-start: 6px !important;
}

.pt8 {
  -webkit-padding-before: 8px !important;
  padding-block-start: 8px !important;
}

.pr8 {
  -webkit-padding-end: 8px !important;
  padding-inline-end: 8px !important;
}

.pb8 {
  -webkit-padding-after: 8px !important;
  padding-block-end: 8px !important;
}

.pl8 {
  -webkit-padding-start: 8px !important;
  padding-inline-start: 8px !important;
}