<main class="main-wrapper">
  <article class="article-container">
    <h2 class="heading2">Side Arrow</h2>
    <div class="speech-balloon-wrap">
      <img src="https://placehold.jp/0f6bff/ffffff/x.png?text=dummy" class="profile-photo" alt="プロフィール写真" width="80" height="80" decoding="async">
      <p class="speech-balloon -left-arrow">左からの吹き出し左からの吹き出し左からの吹き出し</p>
    </div>
    <div class="speech-balloon-wrap mt48">
      <p class="speech-balloon -right-arrow">右からの吹き出し右からの吹き出し右からの吹き出し</p>
      <img src="https://placehold.jp/0f6bff/ffffff/x.png?text=dummy" class="profile-photo" alt="プロフィール写真" width="90" height="90" decoding="async">
    </div>
    <div class="divider my32"></div>
    <h2 class="heading2">Bottom Arrow</h2>
    <div class="speech-balloon-wrap">
      <p class="speech-balloon -bottom-arrow mb32">下からの吹き出し</p>
      <p class="speech-balloon -bottom-left-arrow mb32">左下からの吹き出し</p>
      <p class="speech-balloon -bottom-right-arrow mb32">右下からの吹き出し</p>
    </div>
  </article>
</main>