.modal-dialog {
  position: relative;
  width: 100%;
  height: calc(100vh - 6rem);
  max-width: 60rem;
  margin: auto;
}
.modal-dialog:hover, .modal-dialog:focus {
  outline: none;
}

.dialog-open {
  display: block;
  width: 100%;
  max-width: 300px;
  min-width: fit-content;
  margin: auto auto 4rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 5px;
}
.dialog-open:hover, .dialog-open:focus {
  background-color: #777;
  color: var(--white);
}

.dialog-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 0;
  border: 2px solid var(--border-color);
  background: var(--white);
  border-radius: 5px;
  /* native backdrop */
  /* polyfill backdrop */
}
.dialog-panel:not([open]) {
  display: block;
  visibility: hidden;
}
.dialog-panel[open] {
  animation: fade-in .25s ease-out, slide-down .25s ease-out;
}
.dialog-panel.is-motioned {
  max-width: calc(100% - 6px - 2em);
  max-height: calc(100% - 6px - 2em);
  animation: fade-out .45s ease, slide-up .45s ease;
}
.dialog-panel::backdrop {
  background-color: hsla(0, 0%, 0%, .5);
  animation: backdrop-fade-in .35s ease-out;
}
.dialog-panel + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, .5);
  animation: fade-in .25s ease-out;
}

/* Safariのみ適用 */
_::-webkit-full-page-media,
_:future,
:root .dialog-panel {
  width: 100%;
  max-width: 365px;
}

/* Edgeのみ適用 */
@supports (-ms-ime-align: auto) {
  .dialog-panel {
    max-width: 30%;
  }
}
.dialog-panel__paragraph {
  margin: auto;
  padding: 3.5rem 3rem 0;
}

.dialog-panel__buttons {
  padding: 2rem 0 3.5rem;
  text-align: center;
}

.dialog-panel__button {
  display: inline-block;
  min-width: 5rem;
  padding-top: .625rem;
  padding-bottom: .525rem;
  border: 1px solid var(--border-color);
  text-align: center;
  line-height: 1.5;
  border-radius: 5px;
}
.dialog-panel__button:not(:first-of-type) {
  margin-left: 1.75rem;
}
.dialog-panel__button:hover, .dialog-panel__button:focus {
  background-color: #777;
  color: var(--white);
}

.dialog-panel__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--black);
  font-size: 2rem;
  color: var(--white);
  border-radius: 50%;
}
.dialog-panel__close:hover, .dialog-panel__close:focus {
  border: 1px solid #777;
  background-color: var(--white);
  color: var(--black);
}
.dialog-panel__close:hover > .positioning, .dialog-panel__close:focus > .positioning {
  line-height: 1.9rem;
}
.dialog-panel__close > .positioning {
  display: block;
  height: 2.3rem;
  line-height: 2rem;
}

.dialog-response {
  text-align: center;
  line-height: 2;
  font-size: 1.2rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate(0, -1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1rem);
  }
}
@keyframes backdrop-fade-in {
  0% {
    background-color: hsla(0, 0%, 0%, 0);
  }
  100% {
    background-color: hsla(0, 0%, 0%, .5);
  }
}
@keyframes backdrop-fade-out {
  0% {
    background-color: hsla(0, 0%, 0%, .5);
  }
  100% {
    background-color: hsla(0, 0%, 0%, 0);
  }
}