@use "../../base/setting";

.body-text {
  width: 100%;
  line-height: 1.8;
  & .link {
    display: block;
    width: fit-content;
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &[target="_blank"] > svg {
      margin-left: .12rem;
      font-size: calc(var(--font-size-c));
    }
  }
  & .mark {
    background-color: hsla(182, 100%, 87%, 1);
  }
  & .shortcut {
    margin: -.2em .3em 0;
    padding: .1em .4em .15em;
    background-color: hsla(0, 0%, 94%, 1);
    border-radius: 3px;
    box-shadow: .1em .1em 0 hsla(0, 0%, 0%, .4);
  }
}