/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+bash+git+markup-templating+php+pug+python+ruby+scss+typescript&plugins=toolbar */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

@use "../../base/setting";

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-align: left;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.3);
  line-height: 1.5;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  hyphens: none;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  color: hsla(60, 30%, 96%, 1);
  tab-size: 4;
  & * {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  }
}
/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
  // border-radius: .3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: hsla(70, 8%, 15%, 1);
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1rem 0.4rem 0.15rem;
  white-space: normal;
  border-radius: 0.3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsla(210, 15%, 57%, 1);
}
.token.punctuation {
  color: hsla(60, 30%, 96%, 1);
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: hsla(338, 95%, 56%, 1);
}
.token.boolean,
.token.number {
  color: hsla(261, 100%, 75%, 1);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsla(80, 76%, 53%, 1);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: hsla(60, 30%, 96%, 1);
}
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: hsla(54, 70%, 68%, 1);
}
.token.keyword {
  color: hsla(190, 81%, 67%, 1);
}
.token.regex,
.token.important {
  color: hsla(32, 98%, 56%, 1);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
div.code-toolbar {
  position: relative;
}
div.code-toolbar > .toolbar {
  position: absolute;
  top: 0.3em;
  right: 0.2em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
div.code-toolbar:hover > .toolbar,
div.code-toolbar:focus > .toolbar {
  opacity: 1;
}
/* Separate line b/c rules are thrown out if selector is invalid.
  IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}
div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}
div.code-toolbar > .toolbar a {
  cursor: pointer;
}
div.code-toolbar > .toolbar button {
  padding: 0;
  border: 0;
  background: none;
  line-height: normal;
  font: inherit;
  color: inherit;
  overflow: visible;
  user-select: none;
}
div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  padding: 0 0.5em;
  background: hsla(24, 20%, 95%, 1);
  background: hsla(0, 0%, 88%, 0.2);
  font-size: 0.8em;
  color: hsla(0, 0%, 73%, 1);
  border-radius: 0.5em;
  box-shadow: 0 2px 0 0 hsla(0, 0%, 0%, 0.2);
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  text-decoration: none;
  color: inherit;
}
.code-highliter-prism span:not([class*="token"]),
.code-highliter-prism span:not([class="line-numbers-rows"]),
.code-highliter-prism span:not([class="file-name"]) {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  // border: 1px solid hsla(0, 0%, 20%, 1);
  background-color: var(--white);
  font-size: calc(var(--font-size-c) - 0.02rem);
  font-weight: normal;
  color: hsla(0, 0%, 20%, 1);
  // border-radius: .3rem .3rem 0 0;
  &:not(:first-of-type) {
    margin-top: 2rem;
  }
  & pre {
    margin-top: 0;
    // border-radius: 0 .3rem .3rem;
  }
  & code {
    font-size: calc(var(--font-size-c) - 0.01rem);
    @include setting.mq(tb-dth) {
      line-height: 1.6;
    }
    @include setting.mq(sp) {
      line-height: 1.4;
      font-size: calc(var(--font-size-b));
    }
  }
}
