.heading1 {
  margin-top: 1rem;
  line-height: 2;
  font-weight: 700;
  font-size: calc(var(--font-size-l3));
}
.heading2 {
  margin-top: 1rem;
  line-height: 1.8;
  font-weight: 700;
  font-size: calc(var(--font-size-l2));
}
.heading3 {
  margin-top: 1rem;
  line-height: 1.75;
  font-weight: 700;
  font-size: calc(var(--font-size-l1));
}
.heading4 {
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 700;
  font-size: calc(var(--font-size-m2));
}