.geHeading1 {
  line-height: 2;
  font-weight: 700;
  font-size: calc(var(--font-size-l3));
}
.geHeading2 {
  line-height: 1.8;
  font-weight: 700;
  font-size: calc(var(--font-size-l2));
}
.geHeading3 {
  line-height: 1.75;
  font-weight: 700;
  font-size: calc(var(--font-size-l1));
}
.geHeading4 {
  line-height: 1.5;
  font-weight: 700;
  font-size: calc(var(--font-size-m2));
}