@use "../../base/settings";

.column-box {
  column-gap: 3rem;
  column-rule: solid 1px;
  margin: auto;
  @media print, screen and (min-width: 37.5625em) {
    columns: 2 auto;
  }
  @media print, screen and (max-width: 37.5em) {
    columns: 1 auto;
  }
  @include settings.mq(dt) {
    columns: 3 auto;
  }
  @include settings.mq(tb) {
    columns: 2 auto;
  }
  & .paragraph {
    line-height: 1.8;
    &:not(:first-of-type) {
      margin-top: 1.2rem;
    }
  }
}