.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 100rem;
  margin: auto;
  &.-primary {
    justify-content: space-between;
  }
  &::after,
  &::before {
    content: "";
    display: block;
    width: 32%;
    height: 0;
  }
  &::before {
    order: 1;
  }
}