@use "../../base/setting";

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  // 子要素が中央並び
  &.-centered {
    justify-content: safe center;
  }
  // 子要素が終点側並び
  &.-ended {
    justify-content: flex-end;
  }
  &.-only-flex-component {
    width: 100%;
    max-width: 30rem;
    > * {
      width: 6rem;
      height: 6rem;
      background-color: hsla(230, 82%, 59%, 1);
    }
    &::after {
      content: "";
      display: block;
      width: 6rem;
    }
  }
}
