@use "../../base/setting";

/* .main-wrapperはすべてのパターンの共通ラッパーとしても使用 */
.main-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@include setting.mq(tb-dth) {
  .main-wrapper {
    width: 90%;
    max-width: 64.0625em;
    min-width: 48rem;
  }
}
@include setting.mq(sp) {
  .main-wrapper {
    width: 90vw;
  }
}

.frame-wrapper {
  max-width: 100rem;
  padding: 1rem;
  @include setting.mq(tb-dth) {
    width: 100%;
  }
  &.grid-area {
    display: grid;
    @include setting.mq(tb-dth) {
      grid-row-gap: 1rem;
      grid-column-gap: 1rem;
      /* 1行目から順番の高さ */
      grid-template-rows: 5rem 1fr 5rem;
      /* 1列目から順番の幅 */
      grid-template-columns: 12rem 1fr 10rem;
    }
    @include setting.mq(sp) {
      grid-template-rows: 3rem 3rem 1fr 3rem 3rem;
      grid-gap: 1rem;
    }
    > * {
      padding: .5rem;
      border: 1px solid #333;
      & article {
        width: calc(100% - 1rem);
        width: 95%;
        height: auto;
        margin: 1rem auto .5rem;
        border: 1px solid #333;
        @include setting.mq(tb-dth) {
          max-width: 50rem;
        }
        padding: {
          top: .5rem;
          left: .5rem;
        }
        > section {
          width: 95%;
          height: 5rem;
          margin: 1rem auto;
          border: 1px solid #333;
          padding: {
            top: .5rem;
            left: .5rem;
          }
        }
      }
    }
    & .header {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: auto;
      grid-column-end: 4;
    }
    & .main {
      width: 100%;
      @include setting.mq(dt) {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: auto;
        grid-column-end: auto;
      }
      @include setting.mq(tb) {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: auto;
        grid-column-end: 4;
      }
      @include setting.mq(sp) {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
      padding: {
        top: 1rem;
        bottom: 1rem;
      }
    }
    & .nav {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: auto;
      grid-column-end: auto;
      @include setting.mq(sp) {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
    }
    & .aside {
      @include setting.mq(dt) {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-row-end: auto;
        grid-column-end: auto;
      }
      @include setting.mq(tb) {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
      @include setting.mq(sp) {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
    }
    & .footer {
      @include setting.mq(dt) {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
      @include setting.mq(tb) {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
      @include setting.mq(sp) {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: auto;
        grid-column-end: 4;
      }
    }
  }
}