@use "../../base/setting";

.grid {
  display: grid;
  max-width: 50rem;
  &.-responsive {
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: row;
    @include setting.mq(tb-dth) {
      grid-row-gap: 1.5rem;
    }
    @include setting.mq(sp) {
      gap: 1rem;
    }
  }
  & .grid-item {
    width: 6rem;
    height: 6rem;
    background-color: hsla(230, 82%, 59%, 1);
  }
}
