<main class="main-wrapper">
  <button type="button" id="js-toast-trigger" class="toast-trigger">
    トースト(ポップアップ通知)<br>
    トリガーボタン
  </button>
  <div id="js-toast-popup" class="toast">
    <p class="text">
      notification!<br>
      <span class="supplement-line">1件の通知があります</span>
    </p>
  </div>
</main>