<main class="main-wrapper">
  <button type="button" id="js-toast-trigger" class="toast-trigger">
    トースト(ポップアップ通知)<br>
    トリガーボタン
  </button>
  <div id="js-toast-popup" class="toast" aria-live="polite" aria-atomic="false" aria-hidden="true">
    <button id="js-toast-close" type="button" class="close-button">
    <!-- 通知テキストをここにJSで追加・表示 -->
  </div>
</main>