@use "../../base/settings";

.avatar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: .0625rem solid var(--black);
  @include settings.mq(dt) {
    gap: 1.5rem;
  }
  @include settings.mq(sp-tb) {
    gap: 1rem;
  }
  > .profile-photo {
    display: block;
    // clip-path: circle(50%);// 場合によってフチが切れるので未使用
    border-radius: 50%;
    @include settings.mq(tb-dth) {
      width: 7rem;
      height: 7rem;
    }
  }
  .name {
    font-size: var(--font-size-m2)!important;
    font-weight: bold;
  }
  .introduction {
    margin-top: 1rem;
  }
  .link {
    width: max-content;
    text-decoration: underline;
    @include settings.mq(tb-dth) {
      display: block;
    }
    @include settings.mq(sp) {
      display: inline;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &.-full {
    > .profile-photo {
      margin: .125rem;
    }
    @include settings.mq(sp) {
      > .profile-photo {
        width: 6rem;
        height: 6rem;
      }
      .introduction {
        font-size: var(--font-size-s1);
      }
    }
  }
  &.-half {
    width: calc(100% / 2);
    @include settings.mq(sp-tb) {
      flex-direction: column;
      .name {
        text-align: center;
      }
    }
    @include settings.mq(sp) {
      > .profile-photo {
        width: 5.5rem;
        height: 5.5rem;
      }
      .introduction {
        font-size: var(--font-size-s1);
      }
    }
  }
  &.-one-third {
    flex-direction: column;
    width: calc(100% / 3);
    .name {
      text-align: center;
    }
    @include settings.mq(sp) {
      > .profile-photo {
        width: 4.5rem;
        height: 4.5rem;
      }
      .name {
        font-size: var(--font-size-s1);
      }
      .introduction {
        font-size: var(--font-size-s1);
      }
    }
  }
}

// 1/2(half)と1/3(one third)で複数要素ある場合のレイアウト
.avatar-wrap {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  @include settings.mq(dt) {
    .avatar.-half {
      width: calc(100% / 2 - 1.5rem);
    }
    .avatar.-one-third {
      width: calc(100% / 3 - 1.5rem);
    }
  }
  @include settings.mq(sp-tb) {
    .avatar.-half {
      width: calc(100% / 2 - .5rem);
    }
    .avatar.-one-third {
      width: calc(100% / 3 - .5rem);
    }
  }
}