.badge-relative {
  display: inline-block;
  width: auto;
  position: relative;
  vertical-align: bottom;
}

.nav {
  display: inline-block;
  padding: 16px;
  border: 1px dashed var(--contrast-limit-gray);
  line-height: 1.5;
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset-block-start: -12px;
  inset-inline-end: -12px;
  min-width: 26px;
  min-height: 24px;
  padding: 1px 9px;
  color: var(--white);
  border-radius: 50px;
  &.-red {
    background-color: hsla(0, 100%, 40%, 1);
  }
  &.-blue {
    background-color: hsla(229, 73%, 19%, 1);
  }
  &.-icon-adj {
    padding: 1px 5px;
    .badge-image {
      height: 24px;
    }
  }
}

.badge-image {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--white);
}