.list {
  margin-left: 1.7rem;
  line-height: 1.8;
  &.-itemized {
    list-style: disc inside;
    & ul {
      list-style: circle inside;
      & ul {
        list-style: square inside;
      }
    }
  }
  &.-ordered {
    list-style: decimal inside;
    & ol {
      list-style: inherit;
    }
  }

  & li {
    margin-top: .8rem;
    > * {
      display: block;
      margin-top: .4rem;
      text-indent: 1.5rem;
      & li > * {
        text-indent: 1.5rem * 2;
        & li > * {
          text-indent: 1.5rem * 3;
        }
      }
    }
    & ul {
      margin-top: .3rem;
      text-indent: 1.5rem;
      & ul {
        margin-top: .3rem * 2;
        text-indent: 1.5rem * 2;
      }
    }
  }

  & .link {
    display: block;
    width: fit-content;
    text-decoration: underline;
    color: var(--accent-color);
    @include mq(dt) {
      &:hover {
        text-decoration: none;
      }
    }
    > .icon {
      margin-left: .2rem;
      font-size: calc(var(--font-size-m1));
    }
  }
}