@use "../../base/setting";

.list {
  margin-left: 1.7rem;
  line-height: 1.8;
  &.-itemized {
    list-style: disc;
    font-family: var(--base-font);
    & ul {
      list-style: circle;
      margin-left: 1.7em;
      & ul {
        list-style: square;
        margin-left: 1.7em;
      }
    }
  }
  &.-ordered {
    list-style: decimal;
    & ol {
      list-style: inherit;
      margin-left: 1.7em;
      & ol {
        margin-left: 1.7em;
      }
    }
  }
  & li {
    margin-top: 0.8rem;
    > * {
      display: block;
      margin-top: 0.4rem;
    }
    & ul {
      margin-top: 0.3rem;
      & ul {
        margin-top: 0.3rem * 2;
      }
    }
  }
  &.-decorative-image {
    list-style: none;
    li {
      padding-left: 1em;
      text-indent: -1em;
      &:before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22check%22%20class%3D%22svg-inline--fa%20fa-check%22%20role%3D%22img%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M480%20128c0%208.188-3.125%2016.38-9.375%2022.62l-256%20256C208.4%20412.9%20200.2%20416%20192%20416s-16.38-3.125-22.62-9.375l-128-128C35.13%20272.4%2032%20264.2%2032%20256c0-18.28%2014.95-32%2032-32c8.188%200%2016.38%203.125%2022.62%209.375L192%20338.8l233.4-233.4C431.6%2099.13%20439.8%2096%20448%2096C465.1%2096%20480%20109.7%20480%20128z%22%2F%3E%3C%2Fsvg%3E");
        margin: {
          right: 0.25rem;
          bottom: -0.1rem;
          left: -0.25rem;
        }
      }
      & ul {
        margin-left: 1.7em;
        & ul {
          margin-left: 1.7em;
        }
      }
    }
  }
  & .link {
    display: block;
    width: fit-content;
    text-decoration: underline;
    text-indent: 0;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    > .icon {
      margin-left: 0.2rem;
      font-size: calc(var(--font-size-c));
    }
  }
}
