@use "../../base/setting";

.regular-nav {
  @include setting.mq(sp) {
    width: 100%;
    border-top: 1px solid var(--line-color);
    background-color: hsla(0, 100%, 100%, 1);
  }
  & .nav-list {
    display: flex;
    width: 100%;
    @include setting.mq(sp) {
      display: flex;
    }
    > li {
      width: 25%;
      &:first-of-type {
        border: 1px solid hsla(0, 0%, 20%, 1);
      }
      &:not(:first-of-type) {
        border-top: 1px solid hsla(0, 0%, 20%, 1);
        border-right: 1px solid hsla(0, 0%, 20%, 1);
        border-bottom: 1px solid hsla(0, 0%, 20%, 1);
      }
    }
  }
  %_lineAbstraction {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--logo-color);
    transition: transform 0.35s var(--ease-out-quad);
    @include setting.mq(tb-dth) {
      height: 3px;
    }
    @include setting.mq(sp) {
      height: 4px;
    }
  }
  .nav-link {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .nav-link,
  span[aria-current="page"] {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    overflow: hidden;
    @include setting.mq(dth) {
      min-width: 10rem;
      padding: 0.6rem 1.5rem 0.8rem;
    }
    @include setting.mq(dtl) {
      min-width: 8.1rem;
      padding: 0.6rem 0 0.8rem;
    }
    @include setting.mq(dt) {
      &:hover,
      &:focus {
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        backface-visibility: hidden;
      }
    }
    @include setting.mq(tb) {
      min-width: 6.5rem;
      padding: 0.6rem 0 0.8rem;
    }
    @include setting.mq(sp) {
      padding: 0.3rem 0.2rem 0.4rem;
    }
    &:before {
      @extend %_lineAbstraction;
      top: 0;
      background-image: var(--globalnav-hover-gradient-r);
      transform: translateX(-101%);
    }
    &:after {
      @extend %_lineAbstraction;
      bottom: 0;
      background-image: var(--globalnav-hover-gradient-l);
      transform: translateX(101%);
    }
    > .ja {
      display: block;
      width: 100%;
      line-height: 1.85;
      font-family: var(--sentence-font);
      font-weight: bold;
      @include setting.mq(dt) {
        font-size: calc(var(--font-size-c) + 0.05rem);
      }
      @include setting.mq(sp-tb) {
        vertical-align: baseline;
        font-size: calc(var(--font-size-b));
      }
    }
    > .en {
      display: block;
      text-transform: uppercase;
      @include setting.mq(dt) {
        font-size: calc(var(--font-size-a) + 0.1rem);
        letter-spacing: 0.1rem;
      }
      @include setting.mq(tb-dth) {
        padding-top: 0.5rem;
      }
      @include setting.mq(tb) {
        font-size: calc(var(--font-size-a));
        letter-spacing: 0.1rem;
      }
      @include setting.mq(sp) {
        font-size: calc(var(--font-size-a));
        letter-spacing: 0.05rem;
      }
    }
  }
  span[aria-current="page"] {
    font-family: var(--sentence-font);
    pointer-events: none;
  }
}

.breadcrumb-container {
  width: 100%;
  border-top: 1px solid var(--line-color);
  background-color: hsla(0, 100%, 100%, 1);
}
.breadcrumb-list {
  width: 100%;
  margin: auto;
  font-family: var(--sentence-font);
  overflow: auto;
  @include setting.mq(dt) {
    max-width: 90vw;
  }
  @include setting.mq(sp-tb) {
    max-width: 90vw;
    white-space: nowrap;
  }
  > li {
    display: inline-block;
    &:after {
      @include setting.inlineArrowHead(9, right, var(--text-normal-color));
    }
    &:last-of-type:after {
      content: none;
    }
  }
}
.breadcrumb-link {
  display: inline-block;
  text-decoration: underline;
  @include setting.mq(dt) {
    padding: 0.8rem 1.3rem;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  @include setting.mq(sp-tb) {
    padding: 0.7rem 1rem 0.65rem;
  }
  @include setting.mq(sp) {
    font-size: calc(var(--font-size-c) - 0.08rem);
  }
}
.breadcrumb-current {
  display: inline-block;
  font-weight: bold;
  @include setting.mq(dt) {
    padding: 0.8rem 1.3rem;
  }
  @include setting.mq(sp-tb) {
    padding: 0.5rem 1rem;
  }
  @include setting.mq(sp) {
    font-size: calc(var(--font-size-c) - 0.08rem);
  }
}
