@use "../../base/setting";

.pagination {
  display: flex;
  position: relative;
  width: 100%;
  @include setting.mq(tb-dth) {
    max-width: 50rem;
  }
  @include setting.mq(sp) {
    max-width: 80%;
  }
  @include setting.mq(tb-dth) {
    & .prev:before {
      border-right: 12px solid hsla(0, 0%, 27%, 1);
    }
    & .next:before {
      border-left: 12px solid hsla(0, 0%, 27%, 1);
    }
  }
  @include setting.mq(sp) {
    & .prev:before {
      border-right: 8px solid hsla(0, 0%, 27%, 1);
    }
    & .next:before {
      border-left: 8px solid hsla(0, 0%, 27%, 1);
    }
  }
  > li {
    &:not(:first-of-type) {
      @include setting.mq(sp) {
        &:not(:first-of-type) > .link {
          border-left: none;
        }
      }
      @include setting.mq(tb-dth) {
        margin-left: 1.2rem;
      }
    }
  }
  & .link,
  & [aria-current="page"],
  & .prev,
  & .next {
    display: block;
    padding: 0.575rem 1rem;
    @include setting.mq(tb-dth) {
      min-width: 2.85rem;
      font-size: calc(var(--font-size-d));
    }
    @include setting.mq(sp) {
      width: auto;
      min-width: 2.7rem;
    }
  }
  & .link {
    border: 1px solid hsla(0, 0%, 20%, 1);
    text-decoration: underline;
    @include setting.mq(tb-dth) {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  & [aria-current="page"] {
    border: 1px solid hsla(214, 85%, 36%, 1);
    background-color: hsla(214, 85%, 36%, 1);
    font-weight: bold;
    color: hsla(0, 100%, 100%, 1);
  }
  & .prev,
  & .next {
    position: relative;
    height: 100%;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include setting.mq(tb-dth) {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }
      @include setting.mq(sp) {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }
  }
  & .tethering {
    line-height: 2rem;
    @include setting.mq(sp) {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
}
