.speech-balloon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  .profile-photo {
    display: block;
    width: 90px;
    height: 90px;
    clip-path: circle(50%);
  }
}
.speech-balloon {
  display: block;
  position: relative;
  padding: 1rem 2rem;
  border: 0.0625rem solid hsla(0, 0%, 20%, 1);
  line-height: 2;
  border-radius: 0.5rem;
  &.-left-arrow::after {
    content: "";
    position: absolute;
    top: 44%;
    left: -1px;
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.0625rem;
    border: 0.0625rem solid;
    border-color: hsla(0, 0%, 20%, 1) transparent transparent hsla(0, 0%, 20%, 1);
    background-color: hsla(0, 100%, 100%, 1);
    transform: rotate(315deg) skew(15deg, 15deg) translateY(-50%);
  }
  &.-right-arrow::after {
    content: "";
    position: absolute;
    top: 44%;
    right: -19px;
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.0625rem;
    border: 0.0625rem solid;
    border-color: transparent hsla(0, 0%, 20%, 1) hsla(0, 0%, 20%, 1) transparent;
    background-color: hsla(0, 100%, 100%, 1);
    transform: rotate(315deg) skew(15deg, 15deg) translateY(-50%);
  }
  &.-bottom-arrow::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 47.25%;
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.0625rem;
    border: 0.0625rem solid;
    border-color: transparent hsla(0, 0%, 20%, 1) hsla(0, 0%, 20%, 1) transparent;
    background-color: hsla(0, 100%, 100%, 1);
    transform: rotate(45deg) skew(15deg, 15deg) translate(-50%);
  }
  &.-bottom-left-arrow::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 16%;
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.0625rem;
    border: 0.0625rem solid;
    border-color: transparent hsla(0, 0%, 20%, 1) hsla(0, 0%, 20%, 1) transparent;
    background-color: hsla(0, 100%, 100%, 1);
    transform: rotate(45deg) skew(15deg, 15deg) translate(-50%);
  }
  &.-bottom-right-arrow::after {
    content: "";
    position: absolute;
    right: 12%;
    bottom: -20px;
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.0625rem;
    border: 0.0625rem solid;
    border-color: transparent hsla(0, 0%, 20%, 1) hsla(0, 0%, 20%, 1) transparent;
    background-color: hsla(0, 100%, 100%, 1);
    transform: rotate(45deg) skew(15deg, 15deg) translate(-50%);
  }
}
