/* table */
table {
  border-left: solid 1px #bbb;
  border-top: solid 1px #bbb;
}
caption {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.2rem;
}
th,
td {
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
  padding: 0.75rem 1rem;
  vertical-align: top;

  p {
    font-size: 100%;
  }
  .shortcut {
    margin-left: 0;
  }
}
th {
  background: #efefef;
}
td {
  background: #fff;
}

.table-scroll {
  width: 90%;
  margin: 2rem auto auto;
  overflow: auto;

  table {
    white-space: pre;
  }
}
.table-text-center td {
  text-align: center;
}
.table-highlight td {
  background: #fffdc9;
}

.table-60 {
  width: 100%;

  @media screen and (min-width: 840px) {
    width: 60%;
  }
}

.cell-left {
  text-align: left;
}
.cell-center {
  text-align: center;
}
.cell-right {
  text-align: right;
}
