@use "../../base/setting";

.toc-container {
  padding: .5rem 2rem;
  border: 1px dotted hsla(0, 0%, 20%, 1);
  text-align: center;
  @include setting.mq(tb-dth) {
    width: 30rem;
  }
  @include setting.mq(sp) {
    width: 90%;
  }
}
.toc-title {
  display: block;
  font-weight: bold;
}
.toc-open {
  display: inline-block;
  font-family: var(--base-font);
  @include setting.mq(sp) {
    font-size: calc(var(--font-size-b));
  }
  & summary {
    cursor: pointer;
  }
  & .summary-text {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  // /* marker消すスタイル */
  // & summary::marker {
  //   font-size: 0;
  // }
  // & summary::-webkit-details-marker {
  //   font-size: 0;
  // }
}
.toc {
  list-style-type: disc;
  > li {
    margin-top: .5rem;
    margin-left: 1.4em;
    text-align: left;
  }
}
.toc__link {
  text-decoration: underline;
  font-family: var(--base-font);
  @include setting.mq(tb-dth) {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  @include setting.mq(sp) {
    padding-top: .4rem;
  }
  &.is-current {
    text-decoration: none;
    font-weight: bold;
  }
}

.back-to-top-container.-text {
  display: flex;
  & .back-to-top {
    display: flex;
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}