<fieldset class="fieldset">
  <legend>チェックボックスはTab＋Spaceキーで選択操作</legend>
  
  <input type="checkbox" id="checkbox1" checked class="checkbox">
  <label for="checkbox1">チェックボックス1</label>

  <input type="checkbox" id="checkbox2" class="checkbox">
  <label for="checkbox2">チェックボックス2</label>
  
  <input type="checkbox" id="checkbox3" class="checkbox" disabled>
  <label for="checkbox3" disabled>非活性チェックボックス</label>
</fieldset>
<p>※キーボード操作時のみフォーカス・インジケーターにスタイル適用</p>
