.carousel {
  margin: auto;
}
@media print, screen and (max-width:64em) {
  .carousel {
    width: 90vw;
  }
}
@media print, screen and (min-width:64.0625em) {
  .carousel {
    width: 100%;
    max-width: 40rem;
  }
}

.carousel__wrap {
  position: relative;
}

/* フレーム */
.carousel__frame {
  padding: 33.33%;
  overflow: hidden;
}

/* 各パネルの中身 = コンテンツ (divかaを想定) */
.carousel__content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.carousel__content[aria-hidden="false"] {
  z-index: 1;
  opacity: 1;
  transition: var(--carousel-switch-effect);
}
@media print, screen and (min-width:64.0625em) {
  .carousel__content[aria-hidden="false"]:hover {
    opacity: .92;
    transition: var(--in-transition);
  }
}
.carousel__content[aria-hidden="false"]:focus {
  opacity: .92;
  transition: var(--in-transition);
}
.carousel__content[aria-hidden="true"] {
  transition: var(--carousel-fade);
}

/* コンテンツ画像 */
.carousel__img {
  width: 100%;
  height: 100%;
}

/* カルーセル アニメーション ※必要に応じてご利用ください */
/*
 * コントローラー群 - 前へナビ、次へナビ、再生ボタン、停止ボタン
 * 拡張性担保のため、classセレクタ名は一意にしている
 */
.carousel__control-pause,
.carousel__control-play,
.carousel__control-next,
.carousel__control-prev {
  position: absolute;
  padding: .1rem .5rem;
  text-align: center;
}

.carousel__control-next,
.carousel__control-prev {
  top: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  transform: translateY(-50%);
  transition: var(--out-transition);
}
@media print, screen and (min-width:64.0625em) {
  .carousel__control-next:hover,
  .carousel__control-prev:hover {
    transition: var(--in-transition);
  }
}
.carousel__control-next:before,
.carousel__control-prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  border-style: solid;
  backface-visibility: hidden;
}
@media print, screen and (max-width:64em) {
  .carousel__control-next:before,
  .carousel__control-prev:before {
    width: 1.25rem;
    height: 1.25rem;
    border-color: var(--white);
    border-width: 0 2px 2px 0;
  }
}
@media print, screen and (min-width:64.0625em) {
  .carousel__control-next:before,
  .carousel__control-prev:before {
    width: 1.5625rem;
    height: 1.5625rem;
    border-color: var(--border-color);
    border-width: 0 3px 3px 0;
  }
}
.carousel__control-next:focus,
.carousel__control-prev:focus {
  transition: var(--in-transition);
}

.carousel__control-pause,
.carousel__control-play {
  z-index: 2;
  width: 3rem;
  height: 2.5em;
  border: 1px solid #bbb;
  border-radius: 2px;
}
@media print, screen and (max-width:64em) {
  .carousel__control-pause,
  .carousel__control-play {
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media print, screen and (min-width:64.0625em) {
  .carousel__control-pause,
  .carousel__control-play {
    right: 2%;
    bottom: 3%;
  }
  .carousel__control-pause:hover,
  .carousel__control-play:hover {
    background-color: var(--contrast-limit-gray);
  }
}
.carousel__control-pause[aria-hidden="true"],
.carousel__control-play[aria-hidden="true"] {
  z-index: 0;
  visibility: hidden;
}
.carousel__control-pause[aria-hidden="false"],
.carousel__control-play[aria-hidden="false"] {
  visibility: visible;
}
.carousel__control-pause:focus,
.carousel__control-play:focus {
  background-color: var(--contrast-limit-gray);
}

/* 前へナビ */
.carousel__control-prev {
  transition: all .3s var(--ease-out-quad);
}
@media print, screen and (max-width:64em) {
  .carousel__control-prev {
    left: .2rem;
    z-index: 1;
  }
}
@media print, screen and (min-width:64.0625em) {
  .carousel__control-prev {
    left: -2.2rem;
  }
  .carousel__control-prev:hover {
    transform: translate(-10%, -50%) rotate(0);
    transition: all .25s var(--ease-in-quad);
  }
}
.carousel__control-prev:before {
  transform: translate(0, -50%) rotate(135deg);
}

/* 次へナビ */
.carousel__control-next {
  transition: transform .3s var(--ease-out-quad);
}
@media print, screen and (max-width:64em) {
  .carousel__control-next {
    right: -.3rem;
    z-index: 1;
  }
}
@media print, screen and (min-width:64.0625em) {
  .carousel__control-next {
    right: -2.2rem;
  }
  .carousel__control-next:hover {
    transform: translate(10%, -50%) rotate(0);
    transition: transform .25s var(--ease-in-quad);
  }
}
.carousel__control-next:before {
  transform: translate(0, -50%) rotate(-45deg);
}

/* 再生ボタン */
@media print, screen and (max-width:64em) {
  .carousel__control-play {
    background: #999 url(../img/img_play.png) 53% center no-repeat;
  }
}
@media print, screen and (min-width:64.0625em) {
  .carousel__control-play {
    background: #999 url(../img/img_play.png) 56% center no-repeat;
  }
}

/* 停止ボタン */
.carousel__control-pause {
  background: #999 url(../img/img_pause.png) 50% center no-repeat;
}

/* インジケーターもしくはサムネイルのコンテナー(リスト) */
.carousel__thumbnail-list {
  display: grid;
  justify-content: center;
  width: 100%;
}
@media print, screen and (max-width:47.96875em) {
  .carousel__thumbnail-list {
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    margin-top: .8rem;
  }
}
@media print, screen and (min-width:48em) {
  .carousel__thumbnail-list {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 15%);
    margin-top: 1rem;
  }
}

/* インジケーター・サムネイル ボタン */
.carousel__thumbnail-btn {
  width: 100%;
  height: auto;
}
@media print, screen and (min-width:64.0625em) {
  .carousel__thumbnail-btn:hover {
    opacity: 1;
    transition: opacity .25s var(--ease-in-quad);
    outline: .125rem solid var(--focusring-color);
    outline-offset: .0625rem;
  }
}
.carousel__thumbnail-btn[aria-selected="false"] {
  opacity: .8;
  transition: opacity .3s var(--ease-out-quad);
}
.carousel__thumbnail-btn[aria-selected="true"] {
  opacity: 1;
  outline: .2rem solid #248aff;
  outline-offset: 0;
}
.carousel__thumbnail-btn:focus {
  opacity: 1;
  transition: opacity .25s var(--ease-in-quad);
}

/* サムネイル画像(img) */
.carousel__thumbnail-img {
  width: 100%;
}