@use "../../base/setting";

.fieldset {
  width: 65%;
  margin-bottom: 1.5rem;
  font-size: calc(var(--font-size-d));
}
.fieldset:not(:first-of-type) {
  margin-top: 1rem;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.checkbox + label {
  display: block;
  position: relative;
  width: auto;
  margin-top: 1rem;
  padding-left: 1.8em;
  line-height: 1.75;
  cursor: pointer;
}
.checkbox:checked + label {
  font-weight: bold;
  color: hsla(240, 100%, 30%, 1);
}
.checkbox:hover + label,
.checkbox:focus + label {
  opacity: 0.75;
  transition: all 0.15s ease-in;
}
[data-whatinput="keyboard"] .checkbox:focus + label:before {
  border-color: hsla(240, 100%, 30%, 1);
  box-shadow: 0 0 4px hsla(240, 100%, 30%, 1);
}
.checkbox + label:before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid hsla(0, 0%, 53%, 1);
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 4px;
  box-sizing: border-box;
}
.checkbox + label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.575rem;
  left: 0.3rem;
  z-index: 1;
  width: 0.9rem;
  height: 0.55rem;
  border-top: 3px solid hsla(240, 100%, 30%, 1);
  border-right: 3px solid hsla(240, 100%, 30%, 1);
  opacity: 0;
  transform: rotate(135deg);
  transition: all 0.15s ease-in;
}
.checkbox:checked + label:after {
  opacity: 1;
  animation: scale 0.25s ease-in-out 0.1s normal running;
}
.checkbox:disabled,
.checkbox + label[disabled] {
  opacity: 0.67;
  cursor: not-allowed;
}
@-webkit-keyframes scale {
  25% {
    transform: scale(1.175) rotate(135deg);
  }
  83% {
    transform: scale(1) rotate(135deg);
  }
}
@keyframes scale {
  25% {
    transform: scale(1.175) rotate(135deg);
  }
  83% {
    transform: scale(1) rotate(135deg);
  }
}
