@use "../../base/settings";

.fieldset {
  width: 65%;
  margin-bottom: 1.5rem;
  font-size: calc(var(--font-size-m2));
}
.fieldset:not(:first-of-type) {
  margin-top: 1rem;
}
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.radio + label {
  display: block;
  position: relative;
  width: auto;
  margin-top: 1rem;
  padding-left: 1.8em;
  line-height: 1.75;
  cursor: pointer;
}
.radio:checked + label {
  font-weight: bold;
  color: #000098;
}
.radio:hover + label,
.radio:focus + label {
  opacity: .75;
  transition: all .15s ease-in;
}
.radio + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #888;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  border-radius: 50%;
  transform: translateY(-50%);
}
.radio:checked + label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 1rem;
  height: 1rem;
  background: #000098;
  border-radius: 50%;
  transform: translateY(-50%);
}
.radio:checked + label:after {
  opacity: 1;
  animation: scale-radio .2s ease-in-out normal running;
}
// [data-whatinput="keyboard"] .radio:focus + label:after {
//   border-color: #000098;
//   box-shadow: 0 0 4px #000098;
// }
.radio:disabled,
.radio + label[disabled] {
  opacity: .67;
  cursor: not-allowed;
}
@-webkit-keyframes scale-radio {
  0% {
    top: 43%;
    transform: scale(.75) translateY(-50%);
  }
  10% {
    top: 43%;
    transform: scale(.75) translateY(-50%);
  }
  83% {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  100% {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
}
@keyframes scale-radio {
  0% {
    top: 43%;
    transform: scale(.75) translateY(-50%);
  }
  10% {
    top: 43%;
    transform: scale(.75) translateY(-50%);
  }
  83% {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  100% {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
}