@use "../../base/setting";

.selectbox-container {
  position: relative;
  width: 75%;
  box-sizing: border-box;
  @include setting.mq(dt) {
    display: flex;
    justify-content: flex-start;
  }
  &.-pulldown:after {
    @include setting.triangle(12, 8, bottom, hsla(0, 0%, 20%, 1));
    position: absolute;
    @include setting.mq(dt) {
      right: 1.25rem;
      bottom: 1.21875rem;
    }
    @include setting.mq(sp-tb) {
      right: 0.8125rem;
      bottom: 1.0625rem;
    }
  }
}
.selectbox-label {
  width: 25%;
  @include setting.mq(dt) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: calc(var(--font-size-d));
  }
  @include setting.mq(sp-tb) {
    display: block;
    width: 100%;
    margin-bottom: 0.7rem;
  }
  &.-multi {
    @include setting.mq(dt) {
      align-items: flex-start;
      margin-top: 0.625rem;
    }
  }
}
.selectbox {
  display: inline-block;
  position: relative;
  max-width: 60rem;
  margin: auto 0.0625rem auto -0.0625rem;
  border: 0.0625rem solid hsla(0, 0%, 20%, 1);
  line-height: 1.2;
  box-shadow: 0.0625rem 0.0625rem 2px 0.0625rem hsla(0, 0%, 0%, 0.15);
  @include setting.mq(dt) {
    width: 75%;
    padding: 0.65rem 1rem;
    font-size: calc(var(--font-size-d));
    &:focus {
      padding: calc(0.65rem - 0.0625rem) calc(1rem - 0.0625rem);
    }
  }
  @include setting.mq(sp-tb) {
    width: 100%;
    padding: 0.65rem 1.5rem 0.5rem 0.8rem;
    font-size: calc(var(--font-size-c) - 0.1rem);
    &:focus {
      padding: calc(0.65rem - 0.0625rem) calc(1.5rem - 0.0625rem) calc(0.5rem - 0.0625rem) calc(0.8rem - 0.0625rem);
    }
  }
  &:focus {
    border-width: 0.125rem;
  }
  &.-single-select {
    @include setting.mq(dt) {
      height: 3.1875rem;
    }
    @include setting.mq(sp-tb) {
      height: 2.95875rem;
    }
  }
  &.-multiple-select {
    @include setting.mq(dt) {
      min-height: 3.1875rem;
    }
    @include setting.mq(sp-tb) {
      min-height: 2.95875rem;
    }
  }
}
