.selectbox-container {
  position: relative;
  width: 65%;
  box-sizing: border-box;
  @include mq(dt) {
    display: flex;
    justify-content: flex-start;
    margin-top: 2.5rem;
  }
  @include mq(sp-tb) {
    margin-top: 1.7rem;
  }
  &:after {
    @include triangle(12, 8, bottom, #333);
    display: inline;
    position: absolute;
    @include mq(dt) {
      right: 20px;
      bottom: 19.5px;
    }
    @include mq(sp-tb) {
      right: 13px;
      bottom: 17px;
    }
  }
}
.selectbox-label {
  width: 25%;
  @include mq(dt) {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: calc(var(--font-size-m2));
  }
  @include mq(sp-tb) {
    display: block;
    width: 100%;
    margin-bottom: .7rem;
  }
}
.selectbox {
  display: inline-block;
  position: relative;
  margin: auto 1px auto -1px;
  border: 1px solid #333;
  background: rgb(244, 239, 237);
  line-height: 1.2;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .15);
  @include mq(dt) {
    width: 75%;
    height: 51px;
    padding: .65rem 1rem;
    font-size: calc(var(--font-size-m2));
    &:focus {
      padding: calc(.65rem - 1px) calc(1rem - 1px);
    }
  }
  @include mq(sp-tb) {
    width: 100%;
    height: 47.34px;
    padding: .65rem 1.5rem .5rem .8rem;
    font-size: calc(var(--font-size-m1) - .1rem);
    &:focus {
      padding:
        calc(.65rem - 1px) calc(1.5rem - 1px) calc(.5rem - 1px)
        calc(.8rem - 1px);
    }
  }
  &:focus {
    border-width: 2px;
  }
}