<main class="main-wrapper">
  <nav aria-label="pagination">
    <ul class="pagination">
      <li><a href="#" class="prev"></a></li>
      <li><span aria-current="page"><span class="visually-hidden">page </span>1</span></li>
      <li><a href="#" class="link"><span class="visually-hidden">page </span>2</a></li>
      <li><a href="#" class="link"><span class="visually-hidden">page </span>3</a></li>
      <li class="tethering">...</li>
      <li><a href="#" class="link"><span class="visually-hidden">page </span>max</a></li>
      <li><a href="#" class="next"></a></li>
    </ul>
  </nav>
</main>