<div class="frame-wrapper grid-area">
  <header class="header">header</header>
  <main role="main" class="main">
    main / メインコンテンツのラッパーフレーム/外装
    <article>
      article / 記事コンテナ
      <section>
        section / セクション1
        <h2>header / 記事タイトル</h2>
      </section>
      <section>
        section / セクション2
        <h2>header / 記事タイトル</h2>
      </section>
    </article>
  </main>
  <nav class="nav">nav</nav>
  <aside class="aside">aside</aside>
  <footer class="footer">footer</footer>
</div>